[2018-04-17 09:12] davidsansome opened #1 "Can't enter full-width dashes (ー)"
This makes it impossible to enter the answers to some reviews.

[2018-04-17 09:16] davidsansome opened #2 "Make it possible to swipe away the whole subject details view."
Currently you can only swipe from the left edge.  It would be nicer to be able to swipe from anywhere in the view.

[2018-04-17 09:17] davidsansome opened #3 "Radicals with images are too big in search results"

[2018-04-17 09:17] davidsansome opened #4 "Pie charts momentarily have a larger unknown section after finishing reviews"

[2018-04-17 09:18] davidsansome opened #5 "Add a little vibration when getting an answer correct"

[2018-04-17 09:18] davidsansome opened #6 "Show "apprentice" bubble when going from SRS level 1->2"

[2018-04-23 16:57] davidsansome opened #7 "Browse items by level"
You should be able to easily browse the items in a particular level, and see which ones are not Guru yet.

[2018-04-23 16:58] davidsansome opened #8 "Subject details view: similar Kanji"
We should include the list of similar kanji in the subject details view

[2018-04-23 16:58] davidsansome opened #9 "Subject details view: example sentences"
We should include the example sentences in the subject details view

[2018-04-23 17:00] davidsansome opened #10 "Level-up animation"
Currently nothing happens when you level up.  We should have a satisfying level-up screen with pretty animations, and a summary of the items that you just unlocked at the next level.

[2018-04-23 17:01] davidsansome opened #11 "Overall statistics on the home screen"
We should show how many Kanji you've learned already.

[2018-04-23 17:38] davidsansome opened #12 "Turn the answer field red after an incorrect answer"

[2018-04-23 17:42] davidsansome opened #13 "Add a lesson summary screen"
We should give a summary of the items you learned, and give the option to do another group of 5 lessons.

[2018-04-23 18:28] Esorbma1 opened #14 "Bugs"
- Some vocabulary are blank when i review them. This happens with lessons too.
- I cant do lessons on the app. I can only see three lessons and then quiz them but it says I’m quizzing five. And often the lessons will be blank like the reviews.

[2018-04-23 18:38] davidsansome commented on #14
Can you try updating the Tsurukame app from the App Store?  I released a new version today that should fix it.
(the blank ones are the ones added in the April 18th update: https://community.wanikani.com/t/wanikani-updates-april-18-2018/30570)

[2018-04-23 19:13] cliffemu opened #15 "n doesn’t automatically convert to ん"
It’s possible to type nn to make ん but it should automatically make ん when n is followed by another letter. Example “ippongi” was typed and the result was  いっぽnぎ

[2018-04-23 19:25] davidsansome opened #16 "iOS 10 support"
This will require:

- Guarding safeAreaInsets with version checks.
- Either creating WKWebView programatically or rewriting the subject details view to be totally native.

[2018-04-23 19:27] davidsansome opened #17 "Empty answers shouldn't immediately be marked wrong"

[2018-04-23 19:29] davidsansome opened #18 "Ignored items should show up again later"
Currently they're just marked correct straight away.  We should add an option to have them skipped, so they come back again later in the review.

[2018-04-23 19:30] davidsansome opened #19 "Option to turn off app badging in the settings menu"
Currently users have to do it in the iOS settings app, which is inconvenient.

[2018-04-23 19:49] #15 closed

[2018-04-23 20:04] #17 closed

[2018-04-23 20:14] #12 closed

[2018-04-24 15:46] jruberg opened #20 "Show next upcoming review for current level"
The upcoming reviews display is really nice and slick, but information specifically about current level items (an alternate graph, a display that just says the time that the next current level item will come up, or ideally a local notification when the next current level item is up for review) would be really useful for people trying to level up quickly.

[2018-04-24 19:22] davidsansome opened #21 "Review option: don't show incorrect answer straight away"

[2018-04-24 19:22] davidsansome opened #22 "Reviews: add first-time hints to explain the + and check mark buttons"

[2018-04-24 19:27] davidsansome opened #23 "Reviews: advance to the next one by pressing enter"
Useful for iPads and external keyboards.

[2018-04-24 19:28] davidsansome opened #24 "Review option: sort in SRS order and group meaning and reading together"

[2018-04-24 19:32] davidsansome opened #25 "Add a legend for the graphs on the main screen"
They're a bit difficult to understand at first glance.

[2018-04-24 19:34] davidsansome opened #26 "Reword the "Queued Updates" section"
It'll probably be better to hide this section entirely if there are no queued updates.

[2018-04-25 00:20] Goombario opened #27 "Allow users to make notes on meanings"
I would like to be able to see the notes I have on meanings and create new ones.

[2018-04-28 11:33] davidsansome opened #28 "Weird UI bug when using pull-to-refresh"
Screenshot here: https://discourse-cdn-sjc1.com/business5/uploads/wanikani_community/original/3X/e/c/ec91d11028cb1541e602b9ed90aa1f506cb2ea84.jpeg

[2018-04-28 14:13] deadpadre commented on #28
I probably worded it a bit weird, it happens not during a pull-to-refresh attempt, but rather during scrolling in the opposite direction.

[2018-04-28 14:13] davidsansome commented on #24
These options will be a good start:

* Review order:
  * Random
  * SRS level order (ascending)
  * Current level radicals first
* Match up meanings and readings
* Meaning before reading or reading before meaning

[2018-04-28 17:36] #24 closed

[2018-04-28 17:36] #5 closed

[2018-04-29 19:36] #23 closed

[2018-05-01 21:08] patrickkelso opened #29 "Unlocks lessons before the website"
iPad Air 2 running IOS 11.3
Tsurukame shows I have 101 lessons ready. Wanikani.com shows I have 0. And Tsurukame will let me do the lessons.

I noticed this the other day when I was offline I kept having new lessons for Kanji beyond what I thought I should have. I had just levelled up. and Tsurukame had let me learn all the new Kanji for my level instead of only the Kanji that used my Guru'd radic

[2018-05-01 21:13] patrickkelso commented on #28
I get this too. iPad Air 2 running IOS 11.3.

If I scroll to the bottom to see the level target diagrams (Which are super confusing at first) I get the blue bars.

I should note that this is in Landscape mode because I'm docked to a keyboard. In Portrait mode it still happens but everything is on the screen so I don't need to scroll.

The only way to clear it is to force quit the application and r

[2018-05-01 21:32] patrickkelso commented on #29
It's possible this is a WK issue. I just noticed that WK tells me I unlocked 食 in September 2016. Which I did, but then I reset to below level 6 which 食 is in. So it should show my unlock day as 28/4/2018 which is when I re-unlocked it.

[2018-05-02 09:06] davidsansome commented on #29
I think this is due to the reset - Tsurukame is probably looking at the original date you unlocked everything, and concluding that since it's in the past everything is available now.

[2018-05-02 09:09] #28 closed

[2018-05-02 09:09] #1 closed

[2018-05-02 09:09] #3 closed

[2018-05-02 09:09] #21 closed

[2018-05-02 09:56] davidsansome commented on #29
Oh actually it looks like the API has changed in the last week or so - it's now returning *all* assignments, even the ones that aren't unlocked yet.  Maybe afe1eaf3236f3e47f04c012e6e03188cc93f4a54 will fix it.

[2018-05-02 20:31] davidsansome opened #30 "Review option: random fonts (like Jitai)"
It would be useful to show review questions in different fonts, like the [Jitai userscript](https://community.wanikani.com/t/jitai-%E5%AD%97%E4%BD%93-the-font-randomizer-that-fits/12617).

[2018-05-02 23:49] mztik opened #31 "Use iOS 'Adaptive Layout' to make app look better on larger screens for both iPhone and iPads."
Kanji font size can be quite small. An option to increase the font size during lessons and reviews would be really welcomed by many users. As an example of this, please take a look at the attached screenshots of the app running on an iPad.

![screen shot 2018-05-02 at 7 44 55 pm](https://user-images.githubusercontent.com/169478/39554541-6ac9afd4-4e41-11e8-872c-cbe88bba895f.png)

[2018-05-05 20:06] mztik opened #32 "Option to increase number of lessons per batch in app"
The default in WaniKani is 5 lessons per batch, which seems to be the case for Tsurukame as well. However, I have this option set to 10 lessons per batch in WaniKani, and Tsurukame is still giving me 5 lessons per batch. I'm guessing you don't import user settings from WaniKani, which leads me to ask for the addition of an option to increase the number of lessons per batch. Thanks!

[2018-05-23 04:27] #29 closed

[2018-05-23 04:29] davidsansome opened #33 "Subject details view: add a link to open the Wanikani website in a webview"

[2018-05-23 04:29] davidsansome opened #34 "Main view: add a link to open the Wanikani dashboard in a web view"

[2018-05-27 07:05] kevananderson opened #35 "Keyboard resizing"
On iPhone 8. I use Japanese native iOS 11 keyboard. Also I use Swype keyboard for English. The problem is when I switch to do my lesson after reviewing. If i have left my Japanese keyboard as my last keyboard, when I start typing, the keyboard grows to suggest kanji and the app does not resize. The keyboard covers the input box. My workaround is to exit the learning or review, switch to Swype keyb

[2018-05-27 07:07] kevananderson opened #36 "Switch keyboards automatically"
Duolingo does this. When the answer is in Japanese, it switches to my Japanese keyboard, or at least the last one I used die Japanese. When English is required, it gives me English.

[2018-06-02 12:40] #34 closed

[2018-06-12 14:23] bmironer opened #37 "Landscape view for wider keyboard on small screens"
Hello,
I just found out about this app and I'm giving it a shot to replace AlliCrab:

So far, it's fantastic and exactly what I needed!

One feature request I didn't see posted above though, if you ever have the chance to implement it :

a usable landscape view on iPhone SE, so we can make use of the wider buttons,for easier typing and less typos.

- Shows the kanji, input field and keyboard, with

[2018-06-12 14:37] hesch opened #38 "Convert uppercase letters to katakana"
Uppercase letters aren't converted to katakana. If the first letter of the typed romanization is uppercase, the kana should be converted to katakana otherwise to hiragana.

[2018-06-12 14:39] hesch opened #39 "Lesson and Review reordering"
Allow the user to reorder the Lessons and Reviews based on itemtype (Radical, Kanji, Vocabulary).

[2018-06-12 14:42] hesch opened #40 "Search doesn't find entered Kanjis"
The search does not find any items when a kanji character is entered. (e.g. 何)

[2018-06-13 14:50] bmironer opened #41 "Display similar kanjis in detail views"
So when I mistake a kanji for another, I can compare and study them right away.
This is also hard to find on wanikani but I find it invaluable.

[2018-06-13 14:52] bmironer commented on #37
Also, the landscape view on iPad isn't resized properly.
On the 'new' 10" iPad, in landscape, the keyboard hides the input field
also the Kanjis could be both bigger and with smaller margins to save space.

[2018-06-13 15:51] bmironer opened #42 "allow skipping"
slightly different than #18
allow skipping a card BEFORE entering a bad answer (and let that card pop up again later on)
that way we can breeze through everything we're sure of quickly, and take some time later for the tougher ones...

[2018-06-14 14:07] davidsansome commented on #41
Duplicate of #8

[2018-06-14 14:07] #41 closed

[2018-06-14 14:13] davidsansome commented on #36
I thought a lot about this initially, and I actually wrote the code to do it.
But it doesn't work so well for Wanikani.  Japanese keyboards suggest the Kanji for the Kana that you're typing.  So, for example, if you type the letters h-i-t-o on Gboard in Japanese mode it'll show 人 as one of the suggestions in the top row, which is obviously cheating.
AFAICT it's not possible to tell the keyboard to

[2018-06-14 14:13] #36 closed

[2018-06-14 14:16] davidsansome commented on #31
I really didn't think about tablets at all while designing this app.  It needs to work better on iPads and larger screens by default - I don't think a font size setting is the right fix.

[2018-06-14 14:55] #9 closed

[2018-06-15 20:04] fufu78 opened #43 "Incorrect number of reviews and start date"
![img_7132](https://user-images.githubusercontent.com/40305354/41487169-72a79228-70df-11e8-9c8d-6fcbee421aaa.PNG)

I currently have 0 reviews.

[2018-06-16 16:10] mztik commented on #31
@davidsansome Please give this more serious thought. Read more on iOS "Adaptive Layout".

[2018-06-28 07:01] komocode opened #44 "Invalid Review Answer for 障る"
障る

On WaniKani.com, it means “to irritate”

In Tsurukame, “to irritate” results in an invalid answer. Tsurukame says it’s “to hinder”

[2018-07-03 13:51] davidsansome commented on #44
Should be fixed by the data update I did in revision 451e844

[2018-07-03 13:51] #44 closed

[2018-07-03 15:38] #40 closed

[2018-07-06 11:11] davidsansome commented on #2
Fixed by b4ef0c5

[2018-07-06 11:11] #2 closed

[2018-07-06 11:29] #6 closed

[2018-07-07 17:29] rcatalano opened #45 "Add “Your Response” / 「答え」hint text to review prompts."
One thing that I love about the WaniKani web app is that I only need to glance at the text field and instantly know if I’m supposed to enter English or Japanese. See screenshots for examples. With Tsurukame, I need to process either “Meaning” or “Reading” and then switch my brain to either English or Japanese mode. I know it doesn’t sound like a big difference, but I have a have a very hard time u

[2018-07-08 02:33] #45 closed

[2018-07-12 11:32] boutmansb commented on #38
![image](https://user-images.githubusercontent.com/6972717/42630686-f65a4a2c-85d7-11e8-82f7-39f361b07e67.png)
Also when you use the japanese installed keyboard in ios to type in katakana, you cant see what you are typing.

[2018-07-27 04:06] ezrabenson commented on #43
I have this same issue as well, 48 years and 1500 reviews.
It looks like it is taking all the reviews I will have in the future and letting me do them now. For example if I have an enlightened item which will come up for review in 2 months, it just adds that to my current review queue.

[2018-07-27 14:46] #4 closed

[2018-07-31 12:27] #7 closed

[2018-07-31 13:16] #16 closed

[2018-08-01 02:10] Goombario opened #47 "Sort lessons by Level"
Currently, when you unlock a new level you have to do all of the available lessons for that level before you can do the remaining lessons for the level you just finished. So if I levelled up from 5 to 6 but had vocab lessons remaining in 5 I can't access them until I've done all the level 6 lessons available. It would be great if we could have the option to complete the lower level lessons first.

[2018-08-01 02:44] davidsansome commented on #47
Thanks for the feedback!
I fixed this already in ec13129cc3e89d2ca8b790647402198e753e4cf0 - it'll be in the next update, which should be real soon now!

[2018-08-01 02:44] #47 closed

[2018-08-02 13:04] davidsansome opened #48 "Review option: pause on partially correct answers"
Add an option to, when an answer is partially correct, stay on that answer and let the user look at the correct answer.

[2018-08-02 13:06] davidsansome commented on #33
I've decided not to do this - I think we should strive to make all the information available in the app.

[2018-08-02 13:06] #33 closed

[2018-08-02 13:09] davidsansome opened #49 "Review option: separate the meaning and reading answers"
Currently the subject details view shows everything about the subject.
There should be an option to just show the relevant part - for example if you got the reading wrong, it should just show the reading.

Then we could make the answer fly to the button on the bottom-left after each correct task, and pressing the button would only show the partial information if you've only answered part of the su

[2018-08-03 15:31] zoglesby commented on #31
![e11fe5e2-8cd5-43f0-9c06-b6706d50ff2f](https://user-images.githubusercontent.com/33433/43651514-a4d990a0-9710-11e8-8824-2a59f552199c.png)

I am sure it’s know but this is what the app currently looks like on the iPad. The header is too small for the screen.

[2018-08-05 10:12] davidsansome commented on #43
I need some help debugging this!  If anybody has a few minutes I'd appreciate if you could do two things:

1. Go into Tsurukame's settings (cog icon in the top-right) and select "Export local database".  That'll create a file that you can share via email with me@davidsansome.com.

2. Also go to the iOS settings, "General", then "Date & Time", and check the date is correct.  If you have "Set Automa

[2018-08-05 10:16] fufu78 commented on #43
I don’t know what happened but I just logged into the app and I am no longer having this issue. It is giving me the correct reviews and start date.

[2018-08-05 11:12] #8 closed

[2018-08-14 05:30] ezrabenson commented on #43
I still have this issue, I have sent my database to the email requested and also changed my time settings

[2018-08-16 01:57] dwnkg opened #51 "Can’t advance lessons on iPhone 8/iOS 11"
The keyboard blocks the space to advance the reviews and lessons as well as their information if a user answers a question incorrectly.

[2018-08-16 04:11] dwnkg commented on #51
Just noticed that this was for a specific word just noticed that this actually does work, but not for two words that I was testing. I’ll post them if I come across them again. Sorry for the mistake.

[2018-08-19 07:54] davidsansome commented on #51
Are you switching from an English keyboard to a Japanese keyboard, and the Japanese keyboard is bigger than the English one so it's overlapping the input field?

You should be able to enter むっつ by typing "mottsu" or "mottu".

[2018-08-19 07:56] davidsansome opened #52 "Subject detail view: add back the part-of-speech"
This was lost in the recent update

[2018-08-19 07:58] davidsansome opened #53 "Subject detail view: distinguish onyomi vs. kunyomi"
Currently you can't tell which is which.

[2018-08-19 07:59] davidsansome opened #54 "Subject detail view: add audio"
There should probably be an option to download all the audio separately from the app itself.

[2018-08-27 22:53] dwnkg commented on #51
Yeah, I think there was some weirdness with the answer getting obscure and
the fact that I couldn’t find a good explaination for furigana online.

Thanks so much for “tts” example, I still didn’t know how to do that.

On Sunday, August 19, 2018, David Sansome <notifications@github.com> wrote:

[2018-09-07 03:41] sleepyspider1 opened #55 "First tap on iPad for a review sometimes doesn’t register"
When I’m doing reviews, a lot of times, the first tap/character doesn’t register. So you could end up spelling things wrong.

Maybe 30% of the time it occurs.
iPad Pro 2

[2018-10-07 22:27] sciencemanx commented on #38
@boutmansb Thats kind of an unrelated separate problem. You should open up a separate issue.

[2018-10-07 22:30] sciencemanx opened #57 "Convert Objective-C to Swift"
Is there any plan right now to begin converting some of the files from Objective-C to swift? I'd be happy to lend a hand with that process.

[2018-10-07 22:31] sciencemanx commented on #35
If possible it would be good to turn off the kanji suggestions while in the app as this is kind of cheating an makes it hard to input the correct text.

[2018-10-07 22:32] sciencemanx commented on #38
@boutmansb Actually your problem seems to be covered in issue #35

[2018-10-09 02:51] #38 closed

[2018-10-09 17:55] sciencemanx commented on #57
@davidsansome thoughts? I'd be happy to start converting some of the "backend" files if there is any interest.

[2018-10-09 22:56] davidsansome commented on #57
Thanks so much for the offer!
However I was actually considering doing the opposite - converting the few Swift dependencies to Objective-C and dropping Swift entirely.
I found that adding the Charts library (which brings in all the Swift standard libraries as well) increased cold startup time from <1s to ~10s.  The Swift standard libraries are huge and they get bundled with each app, so they reall

[2018-10-14 03:23] swigder opened #59 "incorrect answers ignored second time marked as correct"
Steps to reproduce:

For a given item:
1. Answer either the meaning or reading correctly (this can be done at any point).
2.  When the item's other half comes up, answer incorrectly and keep going.
3. When the item's other half comes up again, answer incorrectly and then select "ask me again later".
4. When the item's other half comes up a third time, answer correctly.

Result: The item is then ma

[2018-10-15 15:09] hesch opened #60 "Siri Integration"
It would be nice to have an Integration with Siri Shortcuts.
The following Actions would be useful for me:
 - Open Lessons
 - Open Reviews
 - Get Lesson count
 - Get Review count

[2018-10-18 07:15] rogerburkhard opened #61 "Show all doesn't show all"
Hi! I really love your Tsurukame App so thanks a lot for that. Currently I have the problem that I would like to see all my unlocked Radicals, Kanji and Vocabulary but when I tap on the "Show all" Button I only see the ones from my current level. It would be great if I could switch the levels there or just scroll trough all my learned radicals, kanjis and Vocabulary. Thanks a lot!

[2018-10-18 07:28] davidsansome commented on #61
You can swipe left and right in that screen to go back and forward between levels!
I should improve the UI to make that more obvious!

[2018-10-18 07:32] rogerburkhard commented on #61
Oh wow, that's awesome! I really didn't think about that!
Thanks a lot and greetings from Switzerland!

[2018-10-18 10:00] #61 closed

[2018-10-22 07:34] nkaretnikov opened #62 "macOS port"
Do you have any plans to have a macOS port? If I had my laptop with me and didn't have internet connection, I would rather use it than an iOS app.

[2018-10-23 09:33] davidsansome commented on #62
Yes I'd like to do this!

I've never written a native macOS app before though so I've no idea how hard it would be

[2018-10-23 22:41] onimitch opened #64 "Local Push Notifications"
Would be really useful to have local notifications sent when there are new reviews, to coincide with the badge update.

[2018-10-25 14:21] steakfryday opened #65 "Review notification number inaccurate"
It used to only update exactly on the hour, but in the past week it’s been posting notifications of existing reviews PLUS however many are coming in the next hour. For example, I may have only 30 items to review, but it will say 50 because it’s adding in 20 future/next-hour items. I’ve uninstalled/reinstalled and turned off auto-detect for timezones. Is anyone else experimenting this?

[2018-10-27 04:31] bradleyayers commented on #54
This would be great. Just to clarify, are there any existing audio features in the app?

[2018-10-31 03:53] davidsansome commented on #54
Nope there are no audio features at the moment!
What I'm thinking would be:

1) Add an audio button to the 'Reading' line in the detail view.  That would play the audio directly from the WaniKani website, and would require you to be online.
2) Add a 'Downloads' section to the Settings view to allow you to download *all* the audio.  Options would be: download everything, download everything up to t

[2018-11-03 08:34] #35 closed

[2018-11-04 09:35] #54 closed

[2018-11-07 08:34] Jannis12324 opened #66 "No level advancement possible"
I encountered the problem on level 3 and on level 4 now. The app showed me no new lessons of the next level even though they were available online. The only way to solve the issue is to reinstall the app.

[2018-11-10 17:40] Rion-Kaneshiro commented on #62
Since apple announced it will be possible running iOS apps on the Mac next year, this might be pretty easy to than.
But I’d say it should be an fully adaptive app that looks great on the iPad :)

[2018-11-13 17:32] Tripp1n opened #67 "Visual bug with marked words in description"
See images for refrence:

![e0dd0ea6-0816-4dbd-a3b6-da1819b6da21](https://user-images.githubusercontent.com/19476494/48431550-4681cd80-e772-11e8-9cc5-d693fd419d09.png)
![3b44e595-292a-4acf-8a3c-844a1a5b7574](https://user-images.githubusercontent.com/19476494/48431552-4681cd80-e772-11e8-9caf-ac98a79f201b.png)

[2018-11-18 17:37] Lilalas opened #68 "Input field covered by keyboard"
I recently downloaded Tsurukame on my iPhone SE (which has a 4 inch display). It is not really usable because the text input field is almost entirely covered by the keyboard.

There is no way to scroll or hide the keyboard. It is only possible to guess what you have entered.

<img src="https://user-images.githubusercontent.com/10713547/48675965-edda7800-eb57-11e8-9aba-84c636c1e193.PNG" alt="screen

[2018-11-20 07:46] davidsansome commented on #68
I fixed this recently (issue #35) but it hasn't been released yet.  I'll try to upload a new build to the app store soon!

[2018-11-20 07:46] #68 closed

[2018-11-29 23:48] #67 closed

[2018-12-02 10:18] Dschee commented on #57
I just thought about adding features to this app, but this backward thinking prevents me from doing so. Swift is a so much better language in many terms and only because it‘s not ABI stable yet (but will be in less than a year from now) you neglect it - what a shame. It‘s the future of iOS development - there‘s no denying.

But it‘s your project and your problem that I‘m not going to contribute (a

[2018-12-03 19:45] sciencemanx commented on #57
@davidsansome I'm glad to hear it!

[2018-12-03 22:45] sciencemanx commented on #66
I sometimes have this problem, too. Usually, I force quit the app and wait a bit then restart. It probably has something to do with the local cache store not firing correctly.

[2018-12-03 22:47] sciencemanx commented on #54
Is this issue meant to be closed? Is the feature available in the app yet?

[2018-12-03 22:48] sciencemanx commented on #65
Ditto. I've also noticed that this app's number lags behind similar apps badge updates.

[2018-12-04 03:57] davidsansome commented on #54
Everything's done, it's just not in a release yet.  It'll be in the next update!

[2018-12-04 03:58] davidsansome commented on #65
I've seen this too, I'll take a look.

[2018-12-04 03:59] davidsansome commented on #43
This should be fixed in the latest version

[2018-12-04 03:59] #43 closed

[2018-12-04 05:29] Jannis12324 commented on #66
Thanks I will try that. At least it's faster than reinstalling :)

[2018-12-04 05:58] gavia opened #70 "WaniKani Content Overhaul"
Just in case this hasn't hit your radar, WK are overhauling their content in like 16 hours. A new database may need to be generated and updated.

https://community.wanikani.com/t/wanikani-content-overhaul-announcement/33956

[2018-12-04 06:08] davidsansome commented on #70
Thanks!  I saw it.
Looks like it might be a bit more complicated than just updating the database though - for example:

I'd like to support that in Tsurukame as well if I can.

I'll see what the update is actually like when it's released tomorrow, then I'll be able to start working on whatever new features are needed.

[2018-12-04 08:48] bradleyayers commented on #54
Awesome, can’t wait!

[2018-12-04 10:38] davidsansome opened #71 "Don't show items from levels above the maximum allowed by the subscription"
Currently unpaid users can see items from levels 4+, although when they try to do lessons they will be rejected by the server.
The app should honour the max_level_granted_by_subscription and hide everything below that.

[2018-12-05 08:30] hesch opened #72 "Make context sentences selectable"
It would be really nice to make the context sentences selectable, so that users can look up unknown words.

[2018-12-05 11:31] vladh opened #73 "Data out of sync with WaniKani"
I completed 100+ reviews on the app, including burning some items, and the app is showing as “0 reviews”, with no upcoming reviews either, which means I can't progress at the moment.

On the WaniKani website however, it shows up as if I hadn't completed the reviews, and the items are not burned. That is, I have to do the 100+ reviews again. I've tried restarting my phone and nothing changes.

Let

[2018-12-05 20:35] deadperfect opened #74 "App crashes at startup after content overhaul"
The app now crashes every time it is launched, following opting in to the new radicals as part of this morning's content overhaul.

[2018-12-05 21:32] Rion-Kaneshiro commented on #74
Crashes for me, too. Didn't click any button...

[2018-12-05 21:39] deadperfect commented on #74
Yes, I selected all of the radicals.

[2018-12-05 21:56] hesch commented on #74
Looks like it tries to load the new radicals from the offline database and crashes because it can't find them (to the app they look like entirely new items). To fix it the database just needs to be rebuilt and the app resubmitted to the App Store. I think...

[2018-12-05 21:56] davidsansome commented on #74
Thanks.  I've found the problem - the app is crashing when it sees you have a lesson for one of the newly added radicals that isn't in the app's database yet.  I'm updating the database now.  Once that's done I'll push an update to the App Store.

[2018-12-05 21:57] davidsansome commented on #74
Ha @hesch we both commented at the same time :) You're absolutely right.

[2018-12-05 21:59] hesch commented on #74
Do you know how long apple will take to review the update?

[2018-12-05 22:01] davidsansome commented on #74
Usually 1-2 days, but I've had them drag it out for a week before...

[2018-12-05 22:03] davidsansome opened #75 "Handle missing subject IDs without crashing"
We should show some UI saying there's a new lesson available that you can't see in the app until you update.

[2018-12-05 22:04] davidsansome commented on #73
A couple of people have reported issues like this but I've never been able to reproduce them.
I suspect there's some problem posting the completed review to the WaniKani API, but the app thinks it was successful so doesn't retry.

If I make a special build with some extra debugging enabled, would you be willing to try using it for a couple of days for me?

[2018-12-05 23:00] rcatalano commented on #75
Oh, found https://github.com/davidsansome/tsurukame/issues/74

[2018-12-05 23:03] #71 closed

[2018-12-05 23:05] davidsansome commented on #74
Yeah I'll post a TestFlight invite link here when the database update finishes.

[2018-12-05 23:53] vladh commented on #73
@davidsansome Sure, happy to!

[2018-12-06 00:02] vladh commented on #73
I've installed the Charles proxy on my phone if you need any info regarding HTTP requests.

[2018-12-06 00:04] hesch commented on #75
Shouldn't the app just download the new content? I mean it would be more work but a better user experience.

[2018-12-06 00:30] davidsansome commented on #73
Oh yeah if you can save all the HTTP requests and send them to me that would be super helpful.
I'd need the HTTP PUT requests (and responses) to https://www.wanikani.com/json/lesson/completed that are made while you're doing your reviews.  Then, after you've finished the reviews, see which items haven't synced properly.

The HTTP requests will contain your WaniKani auth cookie so don't post them t

[2018-12-06 03:22] RhodeHummel opened #76 "Crashes At Startup"
The app crashes at startup. Maybe related to the WaniKani content update today?

(Please excuse short description. Submitted via iPhone)

[2018-12-06 03:24] #76 closed, assigned to nobody

[2018-12-06 03:30] davidsansome commented on #76
Yep, I should have an update in the App Store soon.  You can follow along in issue #74

[2018-12-06 05:21] davidsansome commented on #74
The new version is now waiting for Apple review.  Turns out the TestFlight build **also** needs Apple review, so I can't give you an invite link just yet.

[2018-12-06 09:38] Dschee commented on #57
Not exactly on-topic, but I just read [this](https://medium.com/@michael.eisel/measuring-your-ios-apps-pre-main-time-in-the-wild-98197f3d95b4) article which summarizes how one can measure the actual time between the user starting an app and the moment an app is actually ready to be used. @davidsansome In case you ever wanted to compare the time between starting the app with and without Swift inclu

[2018-12-06 13:09] vladh commented on #73
Okay, on it. I wasn't getting any more reviews, everything was at 0, so I had to reinstall the app.

[2018-12-06 17:14] hesch commented on #57
Converting the Go code to Swift might be a good idea right from the bat. That way It would be really easy to integrate the downloading of new content as mentioned in #75.

[2018-12-06 17:49] deadperfect commented on #74
I just got the app update this morning.  Thank you for fixing this so quickly!

[2018-12-06 17:56] peterthejohnston commented on #74
Thanks so much for the fix! I can do reviews etc. now, but the app crashes when I try to look at the items from level 43 (I don't know if has something to do with that level specifically)—I open app (currently on level 44), press "Show all", and then swipe to see the previous level and it crashes.

[2018-12-06 17:58] Rion-Kaneshiro commented on #74
That seems to be a general problem, I have the same crash on level 49 when I swipe to 48.

[2018-12-06 20:39] deadperfect commented on #53
It would be nice if the Kanji detail pages listed all the readings (Onyomi, Kunyomi, Nanori).  There's been several times I get a reading wrong during reviews and want to see all the readings for that particular kanji.

[2018-12-06 22:48] vladh commented on #73
Okay, I've sent you the info for a review I did. Noteworthy is that I had no request to /json/lesson/completed, only a bunch of PUT requests to /json/progress. In any case, this review seems to have worked, as the items show as completed on the site. I'll have a look at the next review as well. Let me know what other info I can provide. Thank you for the help!

[2018-12-07 00:10] #70 closed

[2018-12-07 00:36] eohtake opened #78 "Some itens don’t show and are not syncronized with WK"
Some items don’t show up on the screen, when reviewing. The app says I have 3 items to review, but when I started the review, there is no content. Checking WK, zero reviews are available.

[2018-12-07 00:42] davidsansome commented on #78
Interesting!  Is the review screen totally empty?  Can you take a screenshot and post it here?  Also can you hit "Export local database" in the Settings menu and either upload that here or email it to me@davidsansome.com?

[2018-12-07 08:09] a-papadopoulos commented on #78
I have the same thing happening to me since the last update (thanks for the update by the way!). I hadn't realised they were ghost reviews. I tried to mark a wrong answer to reveal the correct answer, but that doesn't show anything either.

![img_6725](https://user-images.githubusercontent.com/32906275/49635246-76ce2c00-f9ff-11e8-9e1e-491c3226615f.PNG)
![img_6726](https://user-images.githubusercon

[2018-12-07 08:36] eohtake commented on #78
@steakfryday
Unfortunately I can’t provide files from my phone because MDM policy :(. It seems other people is having the same problem.

[2018-12-07 11:37] vladh commented on #73
Just so you know, I've recoreded another session, and the requests look almost identical.

[2018-12-08 07:54] vladh opened #79 "Add support for new radical names"
The new radical names as part of the [content overhaul](https://community.wanikani.com/t/wanikani-content-overhaul/33972) are currently being rejected. Both (new/old) meanings should be accepted. Maybe a good idea to have a toggle as the web version does, for whether to show both readings.

![img_5359](https://user-images.githubusercontent.com/291640/49683518-c4619c00-fac6-11e8-9d5e-844d3a18a54a.P

[2018-12-08 16:02] hesch opened #80 "Visual bug in review screen after lessons"
The review screen of lessons has too much space between the answer textfield and the keyboard.
![simulator screen shot - iphone 8 - 2018-12-08 at 17 01 39](https://user-images.githubusercontent.com/10466994/49687940-f694ed00-fb0a-11e8-9808-53175b9014f1.png)

[2018-12-08 17:18] hesch commented on #78
These reviews are apparently caused by deleted radicals such as hercules (subject_id: 316). They exist in the /subject API but the json API just returns an empty string. The /assignment API also returns assignments that have the deleted radicals but they are hidden and should therefore never be written to the cache.

[2018-12-09 02:41] davidsansome commented on #73
Thanks for sending that!
Oops yes you're right, /json/progress was the correct one, not /json/lesson/completed.

These requests/responses all look how I'd expect.  I think I really need a Charles log from reviews that then *don't* show up as completed on the site.  I realise that's going to be really annoying to get since you'll basically have to keep Charles running every time you do reviews on t

[2018-12-09 02:46] davidsansome commented on #79
That should be fixed already!  Can you check you have the latest update installed?  It should be version 1.6 in the app store.

[2018-12-09 02:57] #74 closed

[2018-12-09 03:17] #80 closed

[2018-12-09 07:11] sloansparger opened #81 "Lessons crash app & reviews show nothing"
Device: iPhone Xs Max
iOS Version: 12.1.1
App Version: 1.6
Screen capture of my issue: [video link](
https://www.dropbox.com/s/169v0791hwr24pd/Video%20Dec%2008%2C%2010%2053%2056%20PM.mp4?dl=0)
Steps to reproduce: Started encountering this after making the latest iOS update and updating tsurukame (so can't say which might have caused this to start). Clicking on lessons crashes the app everytime, cl

[2018-12-09 07:16] sloansparger commented on #81
Oh, I should add that I deleted the app and redownload it. I had noticed there was a local database export option, so wasn't sure if the localdb had become corrupt. Guessing after redownloading that rules out that at an issue. However, I'll go ahead and attach my current one here: [local-cache.db](https://www.dropbox.com/s/5xk0afv0forxtvf/local-cache.db?dl=0)

[2018-12-09 09:41] davidsansome commented on #81
Looking in your local database, it looks like you've hit the max level on your free WaniKani subscription:

username: "sloansparger"
level: 4
max_level_granted_by_subscription: 3

What does it say when you go to https://www.wanikani.com/account/subscription ?

The app shouldn't crash though either way.  I'll try to fix that.

[2018-12-09 11:35] #81 closed

[2018-12-09 11:56] #72 closed

[2018-12-09 12:46] #52 closed

[2018-12-09 21:17] sloansparger commented on #81
Ahhhhhh that's exactly what it was! I was being told it wasn't time to upgrade yet, and the API was returning this for my user, which was throwing me off:
[code]
However, I went ahead and got a subscription and this did in fact fix things and update my `level` to 4. Probably a bug I should file with WaniKani.

Thanks for helping out! Your app is amazing and I definitely prefer using it over the ac

[2018-12-10 02:19] indirect opened #82 "`unsupported protocol scheme` while trying to generate data"
While trying to generate `data.bin`, I'm getting this result:

[code]

Any idea what's going on there?

[2018-12-10 12:39] vladh commented on #73
No worries, I'll do that and hopefully the problem pops up again.

[2018-12-10 12:41] vladh commented on #79
Oof, that's my bad, I totally missed the update, sorry about that!

[2018-12-10 12:41] #79 closed

[2018-12-10 19:02] Lilalas commented on #68
I can confirm, the issue got fixed in release 1.7. The content now automatically adapts to the height of the keyboard.

[2018-12-11 15:05] hesch opened #83 "Reviews from higher levels shown"
The app shows reviews for levels higher than your current level. After the content overhaul some items were moved to higher levels. These items can't be reviewed on the website, but tsurukame shows them for review. I asked the WaniKani-Support if this is a bug on their side, but they said it was intentional and the reviews would resume when the user reaches the new level of the item.

To make the

[2018-12-11 22:35] indirect commented on #82
(For the record, it seems like this is just an exception that happens at the end of the list? I was able to generate a `data.bin` and compile my own copy of the app even after seeing this error.)

[2018-12-11 22:35] #82 closed

[2018-12-11 22:47] hesch commented on #82
Yeah this is most likely caused by the missing link to the next page in the last response from the server. The script doesn’t handle this gracefully but the resulting data.bin should contain all the necessary items.

[2018-12-13 01:55] indirect commented on #66
This also happens for me between levels, and I have to force quit the app and reopen it for the new level and new lessons to appear.

[2018-12-14 02:19] #64 closed

[2018-12-15 02:51] indirect opened #85 "Pull-to-refresh doesn't always update review count"
I've seen a couple of times where using pull-to-refresh doesn't update the count of reviews that I have available... but force quitting the app and re-opening it does update the count to be correct. Is there some cache that is cleared on force-quit that isn't cleared on pull-to-refresh?

[2018-12-17 08:36] onimitch commented on #83
Maybe it could be offered as an option in settings about whether to include higher level items

[2018-12-17 08:37] onimitch commented on #85
Yeah I've seen this too. Happens fairly regularly

[2018-12-17 08:41] onimitch opened #86 "Close but no cigar & disable partial answer match"
Currently it's not possible to turn off the partial matching of answers (there is an option to disable cheating but i still want to have the ignore option).

My ideal would be behaviour like the "close but no cigar" user script, where a partial correct answer notifies you that you are close, but doesn't accept the answer yet and waits for the 100% correct match.

[2018-12-17 08:44] onimitch commented on #53
I'm the same, definitely missing being able to see which reading is which.

[2018-12-18 17:55] jonstrutz11 commented on #20
Agreed, this is a feature of the Mobile Allicrab app that I would most like to see in Tsurukame. I especially liked their feature that displayed the theoretical time until level up (assuming all kanji for that level answered correctly) on the home screen - would be great if that could get included here as well.

[2018-12-18 22:35] deadperfect commented on #85
I have seen this too, particularly when I re-enable Wifi and cellular data when the app is open.  I then have to force close and re-open for it to fetch properly.

[2018-12-31 20:21] djfiregirl commented on #73
Hello, just wanted to add that my data doesn't sync with WaniKani, I did about 100 reviews and some burns, but I still have 490-some online versus 290 in the app.

[2019-01-04 17:12] Rion-Kaneshiro opened #87 "Items incorrectly shown as locked"
I noticed that I have some items marked as locked although they are already on guru level.

That also lead to a review that was not shown while using the app, but did show up on the wanikani website.

[2019-01-20 07:49] #59 closed

[2019-01-25 05:34] #85 closed

[2019-01-27 15:50] davidsansome commented on #65
This should hopefully be fixed by 00671bce615dd19a12fff5e551492280779d129b

[2019-01-27 15:50] #65 closed

[2019-01-28 08:31] cpojer opened #89 "Search feature?"
I find myself often going to the level overview and then going back and forth to find a particular radical, kanji or vocabulary. I know I can use a dictionary but I’d prefer to search within what I have explicitly learned so far.

Is this something you’d be willing to include if I were to build it?

Questions:
* Where would you add the search bar (scrolling up on the main screen)?
* By default I t

[2019-01-28 19:13] davidsansome commented on #89
Hi!

There's already a search button at the top of the main screen - in the blue area with your name and picture, next to the settings button.
Did you mean something different?

[2019-01-28 19:56] cpojer commented on #89
Oh wow, after a month of using the app daily I somehow missed this. Embarrassing, oops!

[2019-01-28 19:56] #89 closed

[2019-01-29 07:04] indirect commented on #85
In my testing, this is fixed. Thanks!

[2019-01-29 13:04] a-papadopoulos opened #90 "level 60 doesn't show"
When swiping right in the level view (from the Show All in the home screen), I can only get as far as level 59. Similarly, when searching for an item from level 60, nothing shows. I haven't reached level 60 (but getting there! :) ), so I don't know what happens with reviews of level 60 items.

[2019-01-29 13:08] a-papadopoulos opened #91 "~ doesn't show in some fonts"
In the latest update, some fonts don't support the 〜 character of some vocabulary items. As a result, some items are shown incorrectly as the version without the 〜, resulting in a wrong answer, e.g. 〜軒 (けん) vs 軒 (のき). I would imagine the easiest fix would be to always show 〜 with the default font.

[2019-01-29 13:17] a-papadopoulos opened #92 "Do not play audio for incorrect item"
Currently, audio is played regardless of whether the answer was correct or not, which basically reveals the correct answer even when an incorrect answer has been entered. It would be better to only play the audio if the correct answer was entered.

[2019-01-29 14:06] steakfryday opened #93 "Crashing on 己"
Twice I’ve reached the kanji review for 己 and as soon as I enter either the reading or meaning, the app crashes. Haven’t seen it crash for any other items, just that so far.

[2019-01-29 14:55] Mehsias commented on #93
Same for 配. App crashes also when trying to view the kanji using the search function.

[2019-01-29 16:08] #90 closed

[2019-01-29 16:10] davidsansome commented on #93
It looks like a bunch of radicals weren't included in the data file for this release for some reason.  Whenever it tries to load one of the missing ones it crashes.

I'm preparing a new build now to upload to the App Store... sorry about this :(

[2019-01-29 21:06] bmironer commented on #91
The repeater also doesn’t appear with some fonts.

[2019-01-29 22:04] davidsansome commented on #92
This doesn't happen for me - audio is only played when you get an answer right.
Can you describe exactly what happens for you?  Even better, maybe you could take a screen recording?  https://support.apple.com/en-us/HT207935

[2019-02-01 13:48] bmironer commented on #87
Possibly the same bug : I've got lessons (not reviews) available on the web site but they do not appear in the app, even after killing and refreshing...

[2019-02-04 18:46] melancholie opened #94 "Some items don’t show up properly."
This may be related to the previously mentioned locked items issue but is a much bigger problem since it’s not just visual.
Some items don’t show up as reviews at all, but do appear on the website. In my case it was 背中 and 肺. They are notably also marked as locked in the app.

[2019-02-06 00:04] komocode opened #95 "Enter on the iPad Pro keyboard doesn’t work after an invalid answer"
I see a vocabulary kanji. I put in “sightseeing” when the answer should be “Idea”. the app tells me it’s wrong. I press enter on my iPad Pro 2016 12.9” smart keyboard, but it no longer advances to the next review. On version 1.9.

[2019-02-07 22:51] kangaskhan opened #96 "App crashes at startup"
Perhaps this is an issue that has been resolved, but with my phone configuration (iPhone 6S, 64-GB) I frequently experience app crashes when starting up the app.

I uninstalled & reinstalled the app and it started working again; however, I'm experiencing the crashes once again.
I reinstalled again and the app works properly ... thought it might be useful to report for your data.

[2019-02-09 22:51] aoi-otoko opened #97 "Dark Mode"
An optional dark mode would be much easier for night work.

[2019-02-13 00:03] indirect opened #98 "Leveling up still doesn't quite work..."
As a follow-up to #66, I noticed on my most recent level up that the app did not show lessons available, even after a manual pull-to-refresh.

In addition, after force quitting the app and reopening it, Tsurukame shows only 43 lessons, while both Allicrab and WaniKani.com show 65 lessons available. Strangely, the missing lessons seem to be from all types of items. Here are some demonstration scree

[2019-02-14 03:43] jeybee opened #99 "App crashes when adding synonyms then every launch after"
V1.9

I added a synonym (it had spaces in it if that matters) and the app crashed. The app then crashes on every launch from that point on until deleted and reinstalled.

[2019-02-27 00:32] JP-1M opened #100 "Upcoming Reviews actually showing past reviews"
The “Upcoming Reviews” graph is actually showing past reviews.

I suspect this may be a time zone issue. I am using the app on both an iPhone 7+ and iPad Pro with the same behavior.

[2019-02-27 08:26] norbertpotocki opened #101 "Unable to build the project with a fresh XCode installation and a fresh copy of the repo"
Hi @davidsansome,

I'm trying to build the app by following instructions from the README file. Unfortunately there's a number of import errors that immediately pop up (see one below). Could you help me resolve those? I imagine there are some extra setup steps that I missed.

[code]

XCode 10.1
Simulator: iOS 12.1

[2019-03-10 08:05] Nosgoroth commented on #96
I'm having the same issue.

[2019-03-11 03:23] indirect commented on #48
It would also be cool to show a little "warning!" icon the way the webapp does, so that even if it doesn't pause on that word, there's a way to see that the answer was not quite right, and then tap to see what the fully correct answer was.

[2019-03-13 15:32] SassyHijinx commented on #96
I’m having the same problem- it crashes when I open the app.

[2019-03-21 00:04] aimylee opened #105 "Can't login due to error in fetching API"
Hi! I've tried uninstalling and reinstalling the app but to no avail. I've also regenerated the API key too.

[2019-03-21 02:55] kcomandich commented on #105
I have the same problem, "An error occurred fetching your API key".

Is it because the API keys are no longer on the https://www.wanikani.com/settings/account page, but on https://www.wanikani.com/settings/personal_access_tokens instead?

Thanks!

[2019-03-22 14:41] Sereni commented on #105
+1, same problem

[2019-03-22 16:26] chetwatkins commented on #105
+1, also having this issue. Love the tool and hope to be able to use it again soon. Thanks!

[2019-03-23 07:52] davidsansome commented on #105
Yep that's exactly it.  I've got a fix coming soon...

[2019-03-23 07:54] davidsansome commented on #101
Oops sorry about that.  I had "data" in the .gitignore to hide the data directory in the root of the repo, but that was also hiding the Charts/Data/... files.

[2019-03-23 07:55] #101 closed

[2019-03-23 08:12] #105 closed

[2019-03-23 09:01] #95 closed

[2019-03-25 11:27] onimitch opened #107 "Scraper fails"
I get a couple of diff issues trying to run the scraper:

1. Fetching https://www.wanikani.com/json/radical/1
Error getting radical 1: invalid character '<' looking for beginning of value

2. Fetching https://www.wanikani.com/json/radical/140
Error getting radical 140: Request for https://www.wanikani.com/json/radical/140 failed: HTTP 429 Too Many Requests

[2019-03-25 11:28] onimitch commented on #107
Is the scraper data.bin still required?

[2019-03-27 17:28] LowBurn opened #108 "Support for meaning/reading notes"
Any chance of integrating this feature? 9 times out of 10 I use my own mnemonics and it would be great to at least be able to view them even if they can’t be edited in-app. Thanks!

[2019-03-28 03:09] davidsansome commented on #108
Yep I definitely want to do this.  We've already got #27 for it!

[2019-03-28 03:09] #108 closed

[2019-03-30 03:11] indirect commented on #98
Not sure if this is useful additional information, but leveling up seems to have worked completely correctly the next time. 😬

[2019-04-01 12:24] tedkulp opened #112 "A bit more info"
This is by far my favorite Wanikani app.  But, sometimes I have to pop open AlliCrab just for two bit of information and am wondering if it's possible to add them.

1. Upcoming reviews in a list.  The graph is hard to read when you're really just looking for a count of what is coming up today.  Maybe the graph getting more info would be fine, but it's also nice to see what's coming up tomorrow.
1.

[2019-04-05 17:09] bmironer opened #113 "Bug: The 1st question in a review has an hidden but tappable 'previous answer' button"
On the 1st question in a review, the 'see previous answer' button is there, but invisible.
Tapping it shows an empty screen with no back button.
It's still possible to go back by swiping left.

[2019-04-11 17:00] kcomandich opened #115 "Add Review Order option of "lowest level first""
The opposite of "Current level first".
I have, um, 3348 reviews, 😅 and I work them down on the website by reordering so I concentrate on the lower levels first.

[2019-04-15 01:17] indirect commented on #39
Lessons is handled by #109 👍

[2019-04-18 13:43] andresovela opened #116 "Missing reviews"
Ever since I discovered Tsurukame I stopped using Wanikani in web. Today I opened the website and noticed that I had 19 pending reviews while the app showed zero.

I did the reviews and noticed how they hadn't appeared in a really long time. There were radicals, kanji and vocabs. I didn't notice any patterns.

This is a screenshot of the items that don't appear in Tsurukame. Hope it helps.

<img w

[2019-04-19 12:08] andresovela commented on #116
After doing the reviews on the web, the missing items started appearing again in the review queue in Tsurukame.

[2019-04-20 05:22] #113 closed

[2019-04-20 05:22] #115 closed

[2019-04-20 06:19] #91 closed

[2019-04-20 07:42] davidsansome commented on #32
Fixed by commit d5cb50ec46a43ed0113114f0c951b724ac9bca36!

[2019-04-20 07:42] #32 closed

[2019-04-20 14:12] kcomandich commented on #115
Thank you!! ☺️

[2019-04-21 04:01] #11 closed

[2019-04-26 15:22] onimitch commented on #107
This can be closed, it was due to an expired cookie.

[2019-04-26 15:22] #107 closed

[2019-05-03 03:35] lyallcooper opened #117 "Keyboard shortcut to show default font"
When using the font randomization feature, one can tap + hold on the review screen to temporarily reveal the item in the default font. It’d be great if there were a keyboard shortcut (e.g. control or option) for this too.

[2019-05-03 23:43] lyallcooper opened #118 "Don’t pause background audio when item audio plays"
Currently background audio is automatically paused any time item audio is played. IMHO enabling something like [`duckOthers`](https://developer.apple.com/documentation/avfoundation/avaudiosession/categoryoptions/1616618-duckothers) would be a better default behavior. The [`interruptSpokenAudioAndMixWithOthers`](https://developer.apple.com/documentation/avfoundation/avaudiosession/categoryoptions/1

[2019-05-07 19:40] waltiz opened #119 "Apple Watch support"
It would be great to have Apple Watch support.
This would consist in an Apple Watch complication that shows a different kanji every now and then, maybe based on the wall of shame or some other criteria.

[2019-05-09 18:51] waltiz opened #120 "katakana madness"
It would be great to have the plugin katakana madness (shows in katakana all on'yomi in lessons and reviews to become more proficient in katakana)

[2019-05-14 22:55] komocode opened #122 "Reviews aren't being uploaded even though I'm online."
![IMG_0692](https://user-images.githubusercontent.com/226526/57737453-9decf180-7660-11e9-94c0-afc5babf71da.png)

[2019-05-16 01:29] davidsansome commented on #122
Thanks for reporting this!  It's a problem caused by a recent change to WaniKani that started expiring auth cookies.

I think I've fixed it now!  Would you mind installing a new version from testflight, and let me know if it works?  https://testflight.apple.com/join/Fijye2AA

[2019-05-16 01:38] komocode commented on #122
I installed it just now without deleting the app. It seems to still show "225 review progress:

[2019-05-16 22:26] lyallcooper opened #123 "Don't randomize fonts during lesson quiz"
Currently when font randomization is enabled, fonts are randomized during the quiz portion of lessons. The original [Jitai userscript](https://community.wanikani.com/t/jitai-%E5%AD%97%E4%BD%93-the-font-randomizer-that-fits/12617) doesn't do this:

I think Tsurukame should adopt this behavior too, as I invariably have to reveal the standard font during lessons since I'm not yet familiar with the ch

[2019-05-18 00:08] #118 closed

[2019-05-22 16:16] HackF0x opened #125 "Show a more helpful error when answering with big-kana instead of small-kana"
![95D97163-D0DC-43AE-B442-2843ADCD5AF7](https://user-images.githubusercontent.com/34410028/58190813-4d424d80-7c8b-11e9-8b98-80fc5acc6f52.png)

I’ve ran into a few quiz items that state they are incorrect when they are not. I’ve even tried copying and pasting the reading.

[2019-05-23 00:35] davidsansome commented on #125
It looks like you're typing the big-yu (ゆ) not the little-yu (ゅ).
If you're using an English keyboard you need to type "nyuu" (not "niyuu") to get にゅう.  If you're using a Japanese keyboard you need to press the 小 button after typing the ゆ.

See https://community.wanikani.com/t/what-did-i-do-wrong/29984/2 for more info.

This mistake is pretty common for beginners so maybe Tsurukame should detect i

[2019-05-23 02:02] HackF0x commented on #125
Oh heck. You are absolutely right. Closing issue.

[2019-05-23 02:02] #125 closed

[2019-05-26 09:53] bmironer commented on #123
I find that looking at both the printed and handwritten kanji make them easier to properly grasp and differentiate. I’d love to be able to swipe through all the different fonts while learning. So maybe an option in settings ?

[2019-05-26 09:57] bmironer opened #126 "Add new lesson to current queue while reviewing"
While reviewing the current queue and done/remaining counters are not updated when a new session is due. So you might think you’re almost done and find out you really have 50 more...

[2019-05-27 04:55] indirect commented on #122
Sadly I am also seeing this, running from the latest commit ca4cad025e848ad2947411e14b3e89764c8808f3.

[2019-05-27 05:24] indirect commented on #122
Hmm... I have no idea, now. I installed a build without the API changing commit, and it was able to upload pending reviews. Then I deleted the app, re-installed the exact previous build that couldn't upload pending reviews, and... it uploaded a new set of pending reviews just fine. 😬

[2019-05-27 13:11] hesch commented on #126
This is consistent with the WaniKani website. It also doesn't update the count while reviewing and only shows a little banner in the review overview screen to tell you that there are more reviews.

[2019-05-28 20:41] lyallcooper commented on #122
I experienced the same issue with the testflight build, where it couldn't upload lesson/review progress, but reverting to the app store version uploaded them fine. However after reinstalling the testflight build it _still_ couldn't upload progress, unlike @indirect.

[2019-05-29 02:34] indirect commented on #122
To be clear, it seems to work for me if I delete the app entirely before installing the new build with this change—upgrading in place by installing this change over the old build seems to make things get stuck. At least for me.

[2019-05-30 06:35] rubyroobs opened #127 "App uses Chinese characters for some kanji when device language preferences do not include Japanese"
I've noticed that strangely the iPad version of the app shows Chinese characters for same kanji for example it displays 入る instead of 入る. What's weirder was my iPhone (both on latest iOS/tsurukame) did not have this issue.

![Image of iPhone XS Max with no issue](https://i.imgur.com/8Oss0LH.png)
![Image of iPad Pro with issue](https://i.imgur.com/JxcFaoB.png)

While writing this as a bug report, I

[2019-06-03 03:13] indirect opened #128 "Kanji "used in" list is almost, but not quite, sorted by level"
This list looks like it intends to be sorted by level but something went wrong:

![4B3BA365-4EB2-4993-926D-90342E747B48](https://user-images.githubusercontent.com/78/58773677-d7838f00-8572-11e9-8789-6341fb4f1850.jpeg)

[2019-06-03 22:15] rcatalano opened #129 "Crashing shortly after launch"
Maybe a server-side change?

No logs ATM, sorry.

[2019-06-04 20:39] indirect commented on #122
My iPad got into a super weird state: 4 reviews queued to be uploaded "when I'm back online", but doing new reviews immediately uploaded them. Without uploading those 4 queued reviews. I'm very sure the "live" reviews were making it to the server because I got an level-up email from Koichi while I was testing to see if new reviews would get uploaded... but those 4 queued reviews never did get uplo

[2019-06-04 20:45] indirect commented on #122
Oh weird... logging out and then logging back in seems to have gotten it into a state where nothing gets uploaded to the server and everything gets queued. 😲

[2019-06-04 21:59] indirect opened #130 "Background audio ducked on switching to app"
While doing reviews, simply switching into the app causes the background audio to get quieter. Only after playing a reading does the volume return to normal, with the background audio reduced only during reading playback from that point forward.

[2019-06-05 04:11] gsdali opened #131 "Update to include latest WK content"
Wanikani just released some new kanji and vocab, and are planning more releases in the coming months. Could you update the app so this new content is as available to learn and review in the app.

[2019-06-05 19:54] indirect opened #132 "It runs on macOS 10.15! :D"
<img width="1280" alt="Screen Shot 2019-06-05 at 12 46 24 PM" src="https://user-images.githubusercontent.com/78/58985770-f52e3f80-8790-11e9-8a60-c85f92b53af4.png">

reviews need a little UI work though 😂

<img width="901" alt="image" src="https://user-images.githubusercontent.com/78/58985800-037c5b80-8791-11e9-87af-1956c853edd0.png">

[2019-06-06 06:42] rcatalano commented on #129
Hmm, just removed and re-downloaded loaded the apps and now it’s fine on all my devices.

Also noticed a few new features. The app must not have been auto-updating, which is weird because all my other apps were!

[2019-06-06 06:42] #129 closed

[2019-06-14 22:06] indirect commented on #130
A small update on this: I noticed that if you immediately switch out of the app, it un-ducks, and you can then switch back to the app without the sound getting ducked again.

[2019-06-17 21:43] lyallcooper commented on #130
Probably related to something I didn't do quite right in #124 😅

[2019-06-22 04:40] jdbish opened #133 "Missing kanji from level 18"
Hello! I am loving the app. However, I am doing level 18 and there are three kanji that for some reason don’t seem to exist: strike, throat, and candy. I have to go into the mobile website to see or complete those reviews.

[2019-06-27 01:20] JKVeganAbroad opened #134 "Review: Rename Radicals"
When reviewing, the colour-scheme and title changes per flashcard. Currently:

Blue = Radical Meaning
Pink = Kanji Meaning / Kanji Reading
Purple = Vocabulary Meaning / Vocabulary Reading

May I suggest the “Radical Meaning” be renamed to “Radical Name”?

In cases where the radical name is different to the kanji meaning, it’s easy to make a mistake if the word “meaning” is used across all three ca

[2019-06-30 16:41] pascaldisse commented on #27
I think this is a very important feature. Sometimes the given mnemonics can be quite terrible, so I have created quite a few myself. For now, it would be great to be at least able to read them.
I dug a little bit through your code to see if I could implement it myself but objective-c scares me, haha. I think I will stick to swift for now.

[2019-07-03 12:27] bmironer commented on #133
They are part of the latest update it seems.
https://community.wanikani.com/t/wanikani-content-update-june-3-2019/37043

[2019-07-06 03:59] #120 closed

[2019-07-06 03:59] #128 closed

[2019-07-06 03:59] #134 closed

[2019-07-06 06:55] davidsansome commented on #127
Thanks for this bug report!
I didn't even realise han characters could be rendered differently depending on the user's second language.
I've tried to fix this by explicitly using the iOS Japanese font (Hiragino Sans) in each place Japanese text is shown.  I might've missed some though.

[2019-07-06 06:57] #127 closed

[2019-07-08 00:43] indirect opened #135 "Crash on iOS 13 due to missing Hiragino Sans weights"
I'm not sure if this is iOS 13-specific, but Tsurukame crashes on my iPad when this line returns nil:

https://github.com/davidsansome/tsurukame/blob/d813ea063f40439388aff897f9b8f4835a4652f3/ios/Style.m#L106

According to the debugger, the only weights available are W3, W6, and W8:

[code]

I guess I'll send a PR to fall back on W3 and W8 if W2 and W7 aren't there? 😬

[2019-07-08 00:45] indirect commented on #135
Huh, according to Apple's [system fonts page](https://developer.apple.com/fonts/system-fonts/), iOS has _never_ had any weights except 3, 6, and 8:

<img width="1057" alt="image" src="https://user-images.githubusercontent.com/78/60776173-e9f76800-a0de-11e9-8ab4-79c0d3bb0f3d.png">

[2019-07-08 01:30] indirect opened #137 "Lessons create invalid reviews?"
After doing 5 lessons, the main screen shows 5 reviews waiting to upload, and the console shows trying to post the lesson as a review:

Is this new? Maybe the WKv2 API just updated to require you to hit the [Start an Assignment](https://docs.api.wanikani.com/20170710/#start-an-assignment) endpoint, which hasn't previously been required?

[2019-07-08 02:11] #135 closed

[2019-07-08 02:32] davidsansome commented on #137
Thanks for spotting this!  Yeah it looks like we need to use that new endpoint now :/

[2019-07-08 02:33] #137 closed

[2019-07-08 05:15] indirect commented on #137
That was so fast! I'm glad I didn't keep poking at it. 😂

[2019-07-13 18:58] indirect commented on #122
As far as I can tell, this was fixed for me by #138. Is anyone else still seeing it?

[2019-07-15 21:59] ianklatzco opened #141 "Locked kanji on level 6"
Hiya,

I noticed some kanji that I couldn't see in Tsurukame, only via the wanikani website.

Notice the 6 Apprentice Kanji:

![photo_2019-07-15_14-45-35](https://user-images.githubusercontent.com/1487413/61251470-6b6a7e00-a70f-11e9-8d6f-dfa8ed5f13f4.jpg)

But they actually appear locked and do not show in lessons via tsurukame:

![photo_2019-07-15_14-45-45](https://user-images.githubusercontent.c

[2019-07-15 21:59] ianklatzco commented on #141
Thank you for this app! I really appreciate it c:

[2019-07-15 22:15] davidsansome commented on #141
Interesting!  Can you email the database to me (me@davidsansome.com)?  It's probably best you don't post it here since it might contain HTTP logs with your cookie or API key.

After that, try logging out and logging back in again in the app's settings menu.

[2019-07-15 22:30] ianklatzco commented on #141
Will do when I have a moment @ my PC! I tried logging in/out, but it didn’t solve the issue.

I did the lessons on the web client and that moved the kanji to the correct status in Tsurukame.

[2019-07-16 12:58] turtlemaster19 commented on #141
I had this issue as well - these kanji, radicals, (and probably vocab) don't show up in reviews until synced with WK. These are items that lessons have happened to offline.

[2019-07-16 13:00] turtlemaster19 opened #142 "iOS 13 Dark Mode"
This is a reminder to make sure this app works properly with Dark Mode. Thank you!

[2019-07-16 20:54] lyallcooper opened #143 "Possible to open "phantom" item detail page"
During reviews and the lesson quiz, it's possible to open a "phantom" item detail page (see second screenshot below) by tapping in the area where the previously completed item normally shows during reviews as shown in the first screenshot. The only way to get back from this view is to use the swipe from the left edge of the screen.

It seems to always be possible to enter this view during the less

[2019-07-18 05:56] davidsansome commented on #143
I think this is a duplicate of #113

[2019-07-18 05:56] #143 closed

[2019-07-18 17:10] lyallcooper commented on #143
Ah yep looks like it. Tried to search but didn't find it myself. Sorry for the duplicate!

[2019-07-20 01:11] indirect commented on #132
Update on macOS builds: macOS 10.15 b4 seems to have fixed the last of the alignment bugs, and I should have a build that people can try out soon if they are comfortable running a beta OS known to destroy iCloud data at random. 😅

[2019-07-20 03:51] osdiab commented on #127
Yeah I just noticed this was happening for the character 直 when I didn’t have any other languages besides English selected, resolved by including Japanese as a system language. Perhaps should tell the user at some point to do that

![52FC6889-8F59-4F94-A7B7-4BFF947949A9](https://user-images.githubusercontent.com/1890926/61573634-f0c5a800-aaec-11e9-9278-ad6429400e1a.png)
![302D7BB3-51F2-4555-B661-B

[2019-07-20 05:30] indirect opened #145 "Missing audio files"
I think the relevant bit is this one:

[2019-07-20 06:39] indirect commented on #132
http://files.arko.net/63a4ecbabd0e/Tsurukame.zip

[2019-07-20 20:18] indirect opened #147 "Kanji in "visually similar kanji" not sorted by level"
![0D1BD74A-8AA9-4A7A-BDBA-5E9D06257A73](https://user-images.githubusercontent.com/78/61583735-01781d00-aaf1-11e9-8a17-7a21e9e79f48.jpeg)

[2019-07-20 20:20] indirect opened #148 "Subjects in "Show remaining" wrongly appear locked"
Turns out if you miss enough times in a row, you can get srs_level back down to 0 (or maybe even -1?) and the "Show remaining" review shows those items as locked, even though they aren't locked anymore.e

[2019-07-22 20:29] lyallcooper opened #149 "Update to new vocabulary audio"
WaniKani recently updated the audio of all the vocal items ([see announcement](https://community.wanikani.com/t/wanikani-new-audio-update-part-2/37879)). I don't think anything has broken as a result, but it'd be nice to have the latest and greatest audio!

[2019-07-25 20:46] indirect commented on #147
Ohhhh, I dug into this and they are sorted by visual similarity, with the most similar at the top. Got it.

[2019-07-25 20:46] #147 closed

[2019-07-26 14:15] steakfryday commented on #131
They released more on July 25. Will all of these be added into Tsurukame soon?

[2019-07-26 19:26] lyallcooper commented on #133
Another update came in—so more missing items https://community.wanikani.com/t/wanikani-content-update-july-25-2019

[2019-07-28 22:10] indirect commented on #145
This is resolved/superseded by #155.

[2019-07-28 22:10] #145 closed

[2019-07-29 09:10] dreams4ever25 opened #156 "Leveling up before completing lessons"
Perhaps this is expected behavior but to me it seems strange: I will advance in level once new lessons are "unlocked" but not before they are reviewed.

This results in advancing in level before clearing the previous level's items. Meaning I can have 160 lessons in the qeue, not have studied all lessons for the current level, but the system bumping me to the next level.

I feel like a cheat, advan

[2019-07-30 01:43] indirect commented on #156
@dreams4ever25 this app has nothing to do with that. WaniKani is leveling you up, and the app is just reporting it. You'll see the same thing if you use the website.

[2019-07-30 07:12] dreams4ever25 commented on #156
@indirect Ah, just goes to show how much I love Tsurukame and rarely use the website these days. Thanks for the heads-up and kudos for a fantastic app!

[2019-07-31 19:22] dysnomian commented on #27
This would be a very helpful feature for me as well. I'm currently looking through the code, and would love some guidance on how to implement it. Is there a discussion page or IRC for this?

[2019-08-13 10:01] #130 closed

[2019-08-14 10:11] #149 closed

[2019-08-14 18:32] dysnomian commented on #119
I would love to have a count of my available reviews as a complication.

[2019-08-15 04:13] lyallcooper opened #158 "All items missing audio"
On later master (2c642c2b), the audio play button is missing on vocabulary item pages. The audio also doesn’t autoplay during reviews.

On an iPhone X running the iOS 13 public beta 5.

Ex:
![96201B94-914A-475E-8F6D-C7F793A06382](https://user-images.githubusercontent.com/894902/63072110-e8d40a80-bed6-11e9-9243-72c4b83b8b73.jpeg)

[2019-08-15 06:57] davidsansome commented on #158
We changed the way we store audio IDs in the data.bin - you'll need to recreate it.
It now supports multiple audio files for each item, and will pick one at random each time.

[2019-08-15 06:57] #158 closed

[2019-08-15 17:18] lyallcooper commented on #158
Ah make sense, thank you!

[2019-08-16 04:51] brookshelley commented on #122
Just started seeing this with the latest update—I’m online and 82 reviews are showing as “will be uploaded when you’re back online”

[2019-08-16 05:13] indirect commented on #122
@brookshelley any chance you can collect console logs while refreshing? I think it ought to say what you're getting back from the server if it's not a 200.

[2019-08-16 05:14] indirect commented on #122
Sorry, that was maybe too cryptic to be helpful. Any chance you can connect your device to a Mac running Xcode and open the devices panel and collect the console logs from Tsurukame while refreshing? Also hi! 👋 Always nice to run into a familiar face. 😄

[2019-08-16 05:25] brookshelley commented on #122
Oh, hey Andre! I didn’t know you made this—If it happens again I totally can. I logged out and back in, and things seem to be working again. I had to redo my lessons, but that was probably helpful for me, tbh.

Additional details from before: iOS 13 dev beta 7 on iPad and iPhone—updated right before leveling up, and running through a bunch of lessons.

[2019-08-16 05:28] indirect commented on #122
Haha yeah, the app was so good I started contributing to it, including the fix mentioned earlier in this ticket when some reviews were getting stuck for me. If it happens to you again, I'd be happy to take a look at the logs and see if I can figure it out.

[2019-08-16 05:51] brookshelley commented on #122
Rad! Yea this app rules and makes it such that I barely go to Wanikani’s site anymore.
What level are you on? I’ve got a Japan business trip in a few months so i’ve been powering through levels as fast as I can

[2019-08-16 06:09] bulkan commented on #122
I'm seeing this in the latest update as well.

[2019-08-16 06:11] indirect commented on #122
@brookshelley just hit 20! this app has definitely been part of how I've been able to keep up :tada:

@bulkan can you try deleting the app outright, or logging out and back in, and let us know if it happens again?

[2019-08-16 06:12] indirect commented on #122
AHA that actually makes everything make sense to me now. The endpoint change means you need to log out and back in after upgrading. If no one else gets to it sooner, I can probably work up a fix this weekend.

[2019-08-16 06:14] bulkan commented on #122
@indirect I logged out and logged in again and it's uploaded.

[2019-08-16 06:20] brookshelley commented on #122
@indirect rad! Yea it rules. I just hit 26

[2019-08-16 21:32] pbuzek opened #159 "Version 1.11 not syncing"
I updated to 1.11 and completed reviews are not getting synced. App shows “46 review progress “ and I’m online. I tried closing the app, disconnecting from WiFi, still nothing.
iOS 12.3.1 on iPhone 6s

[2019-08-17 00:55] nyfrit commented on #159
Same issue on iPhone XS 139 reviews pending synchronization. Was working properly until I updated earlier today.

[2019-08-17 04:54] indirect commented on #159
@pbuzek @nyfrit log out and then back in to resolve this issue, this is a duplicate of #122.

[2019-08-17 05:46] Userliam7 opened #160 "Terms with dashes unsolvable"
Any review/lesson that contains a dash (ー), examples include ハート形、迷惑メール、etc. cannot be solved

[2019-08-17 06:25] Ulakanakulot commented on #160
Had the same issue with ハート形 just now.

[2019-08-17 08:51] zapan commented on #160
Same here with ビー玉

![IMG_0112_copy](https://user-images.githubusercontent.com/1460558/63209086-d3c8c880-c0dc-11e9-9efe-b0be13339290.png)

[2019-08-17 13:45] bmironer commented on #131
I believe this one can be closed since the 1.11 release

[2019-08-17 13:47] bmironer commented on #133
These are now part of the 1.11 release

[2019-08-17 13:54] bmironer opened #161 "n-space converts to ん on onyomi katakana mode"
nn correctly converts to ン
but n-space converts to ん
On 1.11 for onyomi answers in katakana mode

[2019-08-18 01:20] brett-harrison commented on #160
Can also confirm that I cannot input ハート形. Even if I copy the reading from the info page and paste it in to the response box, it still doesn’t work.

I believe this came from the latest update because ビー玉 used to work just fine.

[2019-08-18 09:35] ClearOcean9 commented on #160
I have same problem.  I cant write ビー玉   Also tried cutting and pasting text from app, but it does not work.  When I do the same in the Wanikani app it works but not with Tsurukame.   I can’t continue if the correct reading is not entered so at a stop

[2019-08-18 17:32] norbertpotocki commented on #159
a big warning here: signing out will cost you your progress.. just lost 600 reviews this way..

[2019-08-18 18:47] usako88 commented on #122
Updated to version 1.11 and reviews are not syncing. Somebody wrote that logging out will cost you our progress so far. Is this true? I dont want to risk that

[2019-08-19 00:10] indirect commented on #122
@usako88 those reviews are already lost; right now there's no way to upload them. (If you're good at iOS development, you could use this repo to install a build from before the upload endpoint change, or you could wait until someone writes a fix and commits it here.)

Again: there's no way to upload those reviews. You need to log out and back in to be able to upload future reviews. Sorry.

[2019-08-19 00:12] indirect commented on #159
Reviews that are stuck cannot ever be uploaded by the current version, sorry. If you're a skilled iOS developer you could manually build and install an older commit to upload those reviews, then update to the latest, then log out and back in. If you aren't a skilled iOS developer, you can wait to sync those reviews for days (or weeks or months) until we develop a fix—or you can log out and back in

[2019-08-19 01:22] lyallcooper opened #162 "Ending review session causes app to crash on iPad"
On my 9.7” iPad running iPadOS 13 Public Beta 6, attempting to end a review session after at least one review has been answered crashes the app. If no items have been answered yet it returns to the main screen as expected.

This crash doesn’t happen on my iPhone X, also running the iOS 13 beta.

[2019-08-19 01:46] lyallcooper opened #163 "Incorrect font used for “part of speech” text"
It looks like the part of speech section is using the Hiragino Sans font instead of the usual system font:

![C12D2EB7-BE27-48B3-9F57-907C8632FE44](https://user-images.githubusercontent.com/894902/63234038-45da0400-c1e8-11e9-9dba-d83225c2e0f6.jpeg)

[2019-08-19 03:26] #159 closed

[2019-08-19 03:30] davidsansome commented on #159
Apologies for this.  The API token that Tsurukame used before the upgrade didn't have write-access to your account, so isn't able to upload reviews.

I've got a new version that's waiting for App Store review now - when you install it it'll ask for your password again, create a new API token, and upload your saved reviews.

*Don't* log out and back in again if you want to keep your reviews.

[2019-08-19 03:30] indirect commented on #122
Fixed by https://github.com/davidsansome/tsurukame/commit/4ed6a17f153821fdde603ed24fbe51070b67112f.

[2019-08-19 03:35] davidsansome commented on #122
Sorry about all this. There's a fix on the way. **Don't** log out and log back in again - the new version will be able to upload your saved reviews.

[2019-08-19 03:35] #122 closed

[2019-08-19 03:42] joshgentry opened #164 "Pending review progress does not upload"
I'm using version 1.11 and as of this morning, my reviews refuse to be uploaded.

At the bottom of the main screen, it states:

I've attempted disconnecting from WiFi, pulling down and holding to refresh, doing the same when reconnected to WiFi, as well as restarting the app.

[2019-08-19 03:42] joshmcx commented on #160
Same issue with ビー玉

[2019-08-19 03:44] davidsansome commented on #164
Dupe of #159.  TLDR is there's a fix in review with Apple now, when you update all the saved reviews should start uploading.

[2019-08-19 03:44] #164 closed

[2019-08-19 03:52] #160 closed

[2019-08-19 03:53] #133 closed

[2019-08-19 03:53] #131 closed

[2019-08-19 15:38] tukaani1 opened #165 "Apostrophe problem with newest update"
Hello! First – thanks for the great app and update. One minor problem: tried to input ハートがた several times, it always came up false. Even when I tried katakana (see screenshots). I guess it is due to the apostrophe? No problems with other words. This hasn’t happened with the same word before today.

![43053174-FCC2-4940-8A3A-4B034A4346E2](https://user-images.githubusercontent.com/54281089/63278605-

[2019-08-19 21:05] grobmeier commented on #132
@indirect This is awesome news. Instead of downloading a ZIP, can I somehow git pull and compile your stuff? I got xcode running, but have no clue on osx development - a readme is appreciated

[2019-08-19 22:18] davidsansome commented on #165
Duplicate of #160.  I actually fixed it yesterday - there should be an update available in the App Store now for you to install.

[2019-08-19 22:18] #165 closed

[2019-08-19 23:56] indirect commented on #132
@grobmeier the zip is me compiling the master branch with macOS turned on, there’s nothing to pull.

[2019-08-20 01:35] sushigoose opened #166 "Auto-adding empty synonym when using iPad keyboard"
Sometimes when typing with my Bluetooth connected keyboard, the app will skip allowing me to input a correct answer and when I explore the item being reviewed, it now has an empty synonym. For instance, I have the reviews set up to test on reading and then meaning:
1. Incorrectly answer reading.
2. Quickly skips the meaning and then goes onto the next item.
3. Reviewing the item on the webpage has

[2019-08-20 10:39] Rion-Kaneshiro opened #167 "End review session leads to a crash"
I don’t know if this is iOS 13 specific but on my iOS 13 device the app crashed every time „end review session“ is tapped.

In some way it actually does what it says, but could be more graceful ^^‘

[2019-08-20 21:03] lyallcooper commented on #167
Duplicate of #162?

[2019-08-21 14:16] ad-mico opened #168 "Won't accept answer for heart-shaped in new version."
I can even cut and paste the answer from what it shows me when I get it wrong, hiragana version or katakana version, won't accept it. Only way out is the end the session without that one. No other way out. Weird, it's the only one that will not accept.

[2019-08-21 14:26] davidsansome commented on #168
This is bug #160, caused by the long dash (ー) in ハート形.  I actually fixed it already - you should be able to install an update from the App Store now!

[2019-08-21 14:26] #168 closed

[2019-08-21 15:59] Rion-Kaneshiro commented on #167
Yes, but it happens on the iPhone as well.
I‘ll comment that in #162

[2019-08-21 16:01] Rion-Kaneshiro commented on #162
Happened on my iPhone XS Max and iPad Pro (iOS 13 beta 7)

[2019-08-22 01:14] ad-mico commented on #168
Thanks!

/A
Sent from my iPhone

[2019-08-24 08:00] indirect commented on #166
I think I've run into this myself, and I think it happens when the letter you are typing happens to include "s", which is the hotkey to add a synonym on the "review" screen. I was thinking the solution might be to make the shortcuts also require the command key? Like, ⌘S instead of just S. That way randomly pushing letters never gets you results like adding a synonym or marking a wrong answer corr

[2019-09-04 03:46] StarWitch commented on #162
Confirming that it happens to me as well, on my iPad Mini 4 running iOS 12.4.1.

Does NOT occur on my iPhone XS running iOS 12.4.1. Only on my iPad Mini 4.

[2019-09-05 04:46] sujong127 opened #169 "Delete a synonym"
I’ve somehow entered incorrect synonyms on some kanji and need to know how to delete them! Thank you!

[2019-09-05 07:57] bmironer commented on #169
@sujong127 You can open the kanji on www.wanikani.com and delete the synonym there.

But having the option in the app would be nice.
Or at least a confirmation for "Add Synonym". I usually tap it by mistake instead of "Answer was correct" when I have a typo.

[2019-09-06 04:54] sujong127 commented on #169
@bmironer Thank you! I agree, it think that’d be nice feature! And yes, I’ve also added many an incorrect synonym by mistake.

[2019-09-07 21:15] sushigoose commented on #166
Ah! That makes a lot of sense. I've tried to teach myself to slow down after getting it wrong. I really should be slowing down and reviewing my error. Yes, I think an extra step would be nice to add a synonym. It's also randomly read the reading to me when I've been a bit too hyper on the keyboard.

[2019-09-08 14:22] gilbertyap opened #170 "Incorrect Spelling No Longer Highlights Hiragana on Review Summary"
After the latest update, if you get spelling wrong but the definition right, the hiragana isn't bolded in the review summary.

[2019-09-23 06:35] #166 closed

[2019-10-02 17:48] ianklatzco opened #172 "Emulating Wanikani behavior on wrong answer"
When you get a review wrong for a meaning/reading, Wanikani’s webapp only shows you the correct answer for the half you got wrong.

This is good because you don’t see e.g the meaning if you got the reading wrong.

This is an issue with typos — sometimes i might make a typo, mark it as correct, and see the other field before having completed that half of the review.

Ideally, Tsurukame would only s

[2019-10-05 01:14] curiousjp opened #173 "Add Review Order option of "most recently due""
Hi - my use case is having a large backlog of reviews after taking a long time off. WK recommends I don't start over, but just keep hacking on my backlog until I clear it.

I find myself in a situation where I encounter a card I don't recognize (in some cases effectively having to re-learn it), and it is then scheduled for review in (e.g.) 6 hours. But because of the large number of reviews, I don

[2019-10-06 06:55] kierenj opened #174 "Feature suggestion: when I give wrong answer, show details of my answer"
E.g. I was tested on the colour radical. I said Bed.
In many cases I’m not sure where I went wrong, do I open a browser, hit WaniKani and search Bed and flick back to the app to see the difference.

It might work great to show what my answer relates to, so the difference is obvious (“ah, I can see where I went wrong - this one has a .. whatever”).

What do you think?

[2019-10-07 07:46] #167 closed

[2019-10-07 07:46] #162 closed

[2019-10-07 09:52] davidsansome commented on #163
Thanks!  I fixed this yesterday in 63aaf7af0aa2ef179fbadbcfc793cb31b182d377

[2019-10-07 09:52] #163 closed

[2019-10-07 09:52] #156 closed

[2019-10-07 10:07] #161 closed

[2019-10-07 12:42] turtlemaster19 commented on #142
I think that on reading - the system keyboard should be dark instead of light, to help make it more obvious which one it wants. Just a suggestion after looking at the app in iOS 13.

[2019-10-07 12:43] turtlemaster19 commented on #132
This seems awesome. This should be added and released in the App Store.

[2019-10-07 19:57] Chris-Peterson444 opened #175 "App crash when swiping back on iOS 13"
When reviewing any radicals, kanji, or vocab, the app will crash if I swipe left.

However, pressing back works fine, as well as swiping through levels in Show All.

Here's an example:
![AppCrashOnSwipe](https://user-images.githubusercontent.com/27789757/66344020-ad1b5700-e901-11e9-8bd8-4cecbc1ffdcb.gif)

[2019-10-07 20:03] sciencemanx commented on #132
I think it would be nice to polish a bit before putting it onto the App Store (add more mac specific layout as makes sense), but maybe the value to people having it now would outweigh the current awkwardness of the iOS layout on mac.

[2019-10-12 01:41] davidsansome commented on #175
I couldn't reproduce this but I can definitely see it's a top-reported crash on iOS 13.  I've put in a change that might fix it, but I'm not sure.

[2019-10-17 20:34] github-member opened #176 "Stick"

[2019-10-17 20:39] github-member opened #177 "Reviews not registering?"
I've been though the other posts by this seems to not have been raised in the same way before, and not sure if it's tsurukame or wanikani issue...  But I've been stuck on same "this level" data ("time remaining", and number of known/locked radicals, Kanji, vocab) for nearly four days (level 5) - even though I'm doing reviews at  least 4-5 times a day of the same characters/words, and usually getti

[2019-10-23 07:46] Aifos123 opened #178 "Add option to reorder reviews from all meaning to all reading"
In the app there is only the option to reorder lessons meaning to reading but back to back, for each word. I was wondering if there was any possibility of adding an option to have all the meanings of the words asked first and afterwards all the readings. Thanks a lot for your work, I really appreciate it!

[2019-10-24 11:38] turtlemaster19 commented on #62
#132 could solve this issue by using https://developer.apple.com/mac-catalyst/
@davidsansome, should we close this issue or the other? I would love a macOS app, though!

[2019-10-24 11:39] turtlemaster19 commented on #132
UPDATE: macOS 10.15 is stable now ;)
Maybe we should consider doing this, even without any Mac-specific changes, because the ability to review offline with those scripts, like was stated above, could be useful.

[2019-10-24 11:42] turtlemaster19 commented on #177
Weird. Are you doing your Reviews online or offline?

[2019-10-24 11:42] turtlemaster19 commented on #176
@github-member What is this? Is it a duplicate of #177? If so, can you close it?

[2019-10-24 11:48] turtlemaster19 commented on #170
I can confirm this. @davidsansome, this should be straightforward, right?

[2019-10-24 11:55] turtlemaster19 commented on #173
It wouldn't actually be scheduled for review in 6 hours, since WaniKani's SRS doesn't work that way. You are correct that "SRS level order" is:

This means that the reviews that had an interval of 4 hours, then 8 hours, etc. would come.
But, when you say:

What is "falling due" and when should it show the "further 'new' cards"? I completely agree that it could be useful, but as a programmer myself

[2019-10-24 11:57] turtlemaster19 commented on #116
Weird. Have you experienced this again? Those reviews were fine for me in Tsurukame - I actually learned them there. Did you refresh the app before doing the reviews on the web (by swiping your finger downward until the loading circle appears?

[2019-10-24 11:59] turtlemaster19 commented on #97
Same as #142

[2019-10-24 12:00] turtlemaster19 commented on #87
This still occurs now. You can reproduce by reviewing offline, then checking your items remaining in-app before reconnecting online.

[2019-10-24 12:01] turtlemaster19 commented on #86
Agree. Coming from AlliCrab, this is very important for things like "to rise" vs. "to raise" and "poisoning" vs. "poisonous"

[2019-10-24 12:03] andresovela commented on #116
It hasn't happened since then I think. There were a couple of app updates in the last months so the issue might have been fixed already. I'll close the issue.

[2019-10-24 12:03] #116 closed

[2019-10-24 12:03] turtlemaster19 commented on #60
Great idea. Especially since the Shortcuts app is now built in to iOS 13.

[2019-10-24 12:04] turtlemaster19 commented on #112
Your second point has been partially added, but Tsurukame's "Novice" a.k.a. "Apprentice 1" isn't listed anywhere in the count. The first point I 100% agree should be added.

[2019-10-24 12:07] turtlemaster19 commented on #22
Good idea, but I think this should stay right where it is at the bottom, since it can easily be figured out by a first time user by tapping on them to see what happens.

[2019-10-24 12:11] turtlemaster19 commented on #31
![Review](https://user-images.githubusercontent.com/46784000/67484177-24a0f400-f62d-11e9-9fac-d82b8e8f8013.jpeg)
![Lesson](https://user-images.githubusercontent.com/46784000/67484178-24a0f400-f62d-11e9-802b-779569e7be4e.jpeg)
@davidsansome, this issue is resolved. I can't find the pull request that fixed it, but these images look much better than the above in this thread.

[2019-10-24 12:12] turtlemaster19 commented on #98
I haven't experienced this problem - maybe it was just a bug in that one commit.

[2019-10-24 12:15] turtlemaster19 commented on #37
I think this and #31 are actually the same problem, so we probably can safely close it.

[2019-10-24 19:36] indirect commented on #132
Feel free to send a PR!
On Oct 24, 2019, 4:39 AM -0700, turtlemaster19 <notifications@github.com>, wrote:

[2019-10-26 00:27] UInt2048 opened #180 "Use API to get current data"
The APIv2 now is able to give the data needed (see AlliCrab for proof) in order to obtain content updates simply via syncing. I don't know much of the technical details, but it should be possible.

[2019-10-26 04:01] #176 closed

[2019-10-26 04:03] github-member commented on #177
Hi no - it still levels up... But the "this level" data stays "stuck" on a certain number of days. I think it might be the app, because I've got allicrab working again and the countdown does update there. Hmm. Not sure why.

[2019-10-28 12:22] turtlemaster19 commented on #177
Interesting. Note that there is a bug in level-up data where Tsurukame believes that you need 100% kanji gurued to level-up instead of 90%.

[2019-10-28 21:15] bmironer commented on #175
Crashes also when swiping left to right or right to left on that screen during reviews

[2019-10-28 21:17] bmironer commented on #175
It crashes when you let go mid-page. If you swipe slowly all the way so the current page is gone it works like a tap on back.
Mixup between current/destination controller during the segue maybe?

[2019-10-29 00:39] davidsansome commented on #180
I think the only thing the API doesn't have is radical mnemonics - we still have to scrape those from the web JSON API.
But yeah apart from that we could potentially fetch new subject content from the API now.  There's a bit of work to canonicalize and clean up the data that's done offline by a Go program - https://github.com/davidsansome/tsurukame/blob/master/cmd/combine/main.go, but we could con

[2019-10-29 00:44] davidsansome commented on #177
If this is still an issue can you post a screenshot of the incorrect data?  Also it would be useful if you could email your Tsurukame database (Settings menu -> Export local database) to me (me@davidsansome.com) so I can see what's happening.

[2019-10-29 00:58] davidsansome commented on #87
I think I fixed this in 4acbb3c4f46af89b324769c3f3e0ad165f98d80d but maybe there are still some cases I missed.

[2019-10-29 00:59] davidsansome commented on #142
Yep I'd definitely like to support this.
Duplicate of #97 though.

[2019-10-29 00:59] #142 closed

[2019-10-29 01:02] davidsansome commented on #170
Maybe.  It's supposed to be done in https://github.com/davidsansome/tsurukame/blob/master/ios/Tables/TKMSubjectModelItem.m#L143, the bold font is selected in https://github.com/davidsansome/tsurukame/blob/a3040446c42b4e7bd7b9718eb23e19d1bf26c1dc/ios/Style.m#L114.

[2019-10-30 12:23] turtlemaster19 commented on #132
@indirect PR merged. Can we close this?

[2019-10-30 12:28] turtlemaster19 commented on #62
@nkaretnikov PR merged, expect macOS support in the next App Store release (hopefully)

[2019-10-30 14:47] timmy-lee opened #183 "Add "hints" to reviews"
Currently, these are only shown during lessons:
![IMG_3122](https://user-images.githubusercontent.com/20361890/67868515-5280af80-fae9-11e9-816a-5db241f343b8.jpg)

Can we get these to show when looking at the kanji as well as during reviews when we get them wrong?

[2019-10-30 15:11] andresovela opened #184 "Missing review items"
I opened the web version of WaniKani after a while of not using it and I noticed that I had 4 items that I didn't have on the app.

These are the four items:
<img width="293" alt="Screen Shot 2019-10-30 at 16 01 56" src="https://user-images.githubusercontent.com/8990961/67870192-bd080e80-fb2e-11e9-8da6-e9f13c5339bc.png">

I hadn't seen those items in a very long time actually. I think they were ne

[2019-10-31 11:44] turtlemaster19 commented on #183
Great idea. This should be implemented at the same time as #172 - another problem with reviews

[2019-10-31 11:51] turtlemaster19 commented on #184
Possible dupe of #94

[2019-10-31 11:52] turtlemaster19 commented on #141
My issue must have been #87 - is this the same issue?

[2019-10-31 11:55] turtlemaster19 commented on #174
Interesting. How would this work? Would we try and see if there is an item with that name and if so, display it? What about if you had typed "Bad" or something?

[2019-10-31 11:58] turtlemaster19 commented on #86
@davidsansome, would this be too hard to implement soon for a major update?

[2019-10-31 12:34] kierenj commented on #174
Yes that's what I was thinking! A reverse-search. Sometimes I'm just so sure of my (wrong) answer, I feel compelled to understand where I went wrong, and to do so I need to see them side by side - closest I can get is opening a tab in Safari to look up my answer.

If I'd typed bad I guess it could show any matches for 'Bad', and I'd probably ignore it, thinking oops I meant 'bed'.

Another way to

[2019-10-31 13:01] turtlemaster19 commented on #184
I experienced this on my iPad where the web version showed 91 reviews but the app showed 90. I then refreshed my iPhone's app and it correctly showed 91.

[2019-10-31 13:06] andresovela commented on #184
I did refresh the app but the missing reviews did not appear anyway.

[2019-10-31 13:07] andresovela commented on #184
By the way, they started appearing on Tsurukame after I did the reviews on the web.

[2019-11-01 00:10] turtlemaster19 opened #187 "Don't allow Japanese in meaning"
If in a review, such as 一つ, the user types ひとつ, or any other Japanese characters, for the meaning, don't allow it to be submitted.

[2019-11-01 19:47] andresovela opened #188 "N shows as ん in on’yomi readings"
See screenshot. (I know the reading is not correct)
![73437A1A-23DC-460B-99D3-261A84200E12](https://user-images.githubusercontent.com/8990961/68051889-c63cdb00-fce8-11e9-84e7-375bcaeed921.png)

[2019-11-02 15:32] turtlemaster19 opened #189 "Recent Review Feature Requests List"
Checklist of recent review feature requests:
- [ ] #172: Only show part that was incorrect
- [ ] #174: Reverse-search incorrect answer
- [ ] #178: All meanings, then all reading sort
- [ ] #183: Show hints in reviews
- [ ] #187: Don't allow Japanese in meaning
- [ ] #188: Use ン instead of ん for on'yomi

[2019-11-02 16:55] pearod commented on #175
Started happening to me pretty consistently during reviews after updating to iOS 13.2.

[2019-11-03 04:56] indirect opened #190 "Upcoming graph lines are now uneven"
I've been running `c24e0a285a506897a1bbaac80b345ced006fdd35`, and I noticed that the lines in the "upcoming" graph no longer map to the numbers:

![D12BF280-5505-4649-B355-D5C4C2283E48](https://user-images.githubusercontent.com/78/68080566-ab876680-fdbb-11e9-9a0b-318d326672d9.png)

[2019-11-03 04:58] indirect opened #191 "Audio no longer works"
As of `c24e0a285a506897a1bbaac80b345ced006fdd35`, the audio button is missing from vocab pages, and the "automatically play audio" option doesn't do anything.

![5360C921-72A6-446C-841B-ED8C09C93B4C](https://user-images.githubusercontent.com/78/68080577-dec9f580-fdbb-11e9-9803-e2b7d758ef62.png)

[2019-11-03 07:50] indirect commented on #190
Uh... or... I could build a new copy on a different computer and everything could be back to working! I have no idea. 😬

[2019-11-03 07:50] #190 closed

[2019-11-03 07:50] indirect commented on #191
Uh... or... I could build a new copy on a different computer and everything could be back to working! I have no idea. 😬

[2019-11-03 07:50] #191 closed

[2019-11-03 17:01] abdulajet commented on #175
Here is another reproduction if this helps. running iOS 13.2
![tsurukame](https://user-images.githubusercontent.com/15106299/68088892-792d4600-fe5b-11e9-8714-9983fcc467df.gif)

[2019-11-04 15:25] curiousjp commented on #173
Sorry, perhaps I explained this poorly. My understanding is that the Assignment data structure in the V2 API contains an "available_at" date when a particular item will become available to be reviewed.

Roughly, I was suggesting that it should be possible to sort the review queue so that items with the most recent available_at date were at the front - so that an item that has been in my review que

[2019-11-05 03:08] davidsansome commented on #188
I think this is a duplicate of #161 which will be fixed in the next release

[2019-11-05 03:08] #188 closed

[2019-11-05 04:27] davidsansome commented on #189
Hey!
Is this a personal checklist of things you want to work on?
I'm wondering what (if anything) I should do with it :smile:

[2019-11-05 07:27] remyGrandry opened #192 "Crash on swipe back"
Hello,

First of all thanks for this application it’s a really awesome one.
I found a bug which is, when you are in a review or a lesson, if you click a kanji or a radical in the description (where there is the meaning, readings, similar kanji etc), if you swipe back instead of pushing the arrow to get back to your review, the app will crash.

Thanks a lot

[2019-11-05 08:53] andresovela opened #193 "Out of date content(?) - Black listed item in WaniKani is marked as correct in Tsurukame"
Hi,

I recently reported an issue to Wanikani where `intentionally` was accepted as a correct answer for the vocab 思わず (meaning `unintentionally`). I was told by the support team that this item is already blacklisted and that if I use a third-party app, then it might be that the app has outdated content.

I argued that unless the item was added to the black list fairly recently, I doubt that since

[2019-11-05 12:40] turtlemaster19 commented on #193
#86 is related to this issue. I agree that this is a problem.

[2019-11-05 12:50] turtlemaster19 commented on #180
Just referencing #75 - an example of an issue that was caused by this

[2019-11-05 12:51] turtlemaster19 commented on #100
Are you still experiencing this issue or has it been fixed?

[2019-11-05 12:57] turtlemaster19 commented on #189
No, it's just a place to show what needs to be done with reviews, since there's been several issues with reviews that have been opened within a ~2 week period. I'll check them off if I see that a PR solved them, and that issue is closed. **Feel free to close it if it's distracting you, or you think it would be more beneficial if closed.**

P.S. I wish I was able to work on this, but I don't know w

[2019-11-05 12:57] udle723 opened #194 "App still not syncing to online account"
I'm running version 1.12, which seems to be the newest version of tsurukame, but nothing is registering with my WaniKani account. I'm on level 5 in the app, but only level 2 when I log in on my computer.
Not sure what I'm doing wrong. Any help would be appreciated.

[2019-11-05 13:02] turtlemaster19 commented on #190
What? Well, the graph having numbers on the right side is still useful. We should have a TestFlight so that users can test beta features before they're released to the App Store (releasing to the App Store probably won't speed up).

[2019-11-05 13:04] turtlemaster19 commented on #191
So, #190 and this were solved by re-building it? Definitely weird.

[2019-11-05 13:07] turtlemaster19 commented on #194
That is the newest build on the App Store. You're saying that the app says you're a higher level than you really are? Can you send a screenshot of what this looks like?

P.S. Can you go to settings and hit export local database and send it in case that's useful to someone?

[2019-11-05 13:09] turtlemaster19 commented on #192
Same as #175
Can't reproduce on iPadOS 13 - will try on phone in a little bit

[2019-11-05 14:39] anduril11 commented on #175
Same issue here, happens every time on iOS 13.2 iPhone 11pro and iPad Pro 10.5.

[2019-11-06 07:57] davidsansome commented on #192
Yep this is a duplicate of #175.

[2019-11-06 07:57] #192 closed

[2019-11-06 08:00] davidsansome commented on #189
Ah I see!  How about if we use Github labels instead, and assign a "Reviews" label to each of those issues.  I'd prefer that kind of grouping over opening other checklist bugs.

As for learning Swift and Xcode I'd highlight recommend the Big Nerd Ranch guide (https://www.bignerdranch.com/books/ios-programming-the-big-nerd-ranch-guide-sixth-edition/) - the first few chapters will get you started wi

[2019-11-06 08:00] #189 closed

[2019-11-06 09:41] #193 closed

[2019-11-06 10:48] davidsansome commented on #194
This definitely shouldn't be possible.  Can you check you're using the same account on both - that the username at the top of the screen in Tsurukame matches the one on Wanikani?
Otherwise, yep, please export your local database from the app and send it to me@davidsansome.com

[2019-11-06 14:49] udle723 commented on #194
Oh! I didn't realize I'd made another account. Thanks for taking the time to answer!

[2019-11-06 14:49] #194 closed

[2019-11-10 01:11] bengarland commented on #175
I’m also seeing this crash 100% of the time when I try to back-swipe out of a level or two of component (radical or kanji) item info when in Lessons or Review. Top level back-swipe, e.g between Lesson items, does not crash. iPhone 8+, iOS and Tsurukame are all up to date.

[2019-11-12 00:52] bulkan opened #198 "Dark mode is unreadable"
Hi there,

Just upgraded to the latest version and dark mode has made the text unreadable.

Disabling dark mode is a temporary work around.

![IMG_2866](https://user-images.githubusercontent.com/13985/68632534-f08d6480-0542-11ea-8d90-ea6eb952be1d.PNG)

[2019-11-12 01:16] bulkan commented on #175
This is fixed for me with the latest update

[2019-11-12 01:22] bengarland commented on #198
Additionally I can no longer read the text in the input box, so I don’t know if it’s asking for Japanese or English.

![B59C10CC-2BC2-4FB2-BE59-624EE417BE72](https://user-images.githubusercontent.com/46571303/68633702-3c85dc80-0536-11ea-8dd6-4ef64e7538ef.png)

[2019-11-12 01:27] davidsansome commented on #175
That's awesome, thanks for letting me know!
If anyone sees this crash again after the update please re-open, but otherwise I'll assume this is fixed now.

[2019-11-12 01:27] #175 closed

[2019-11-12 01:28] davidsansome commented on #198
Hmm I didn't intentionally add any support for dark mode this release, I guess it must have happened as a side-effect of building with the iOS 13 SDK.  I'll see if I can fix it.

[2019-11-12 01:29] bengarland commented on #198
Also there needs to be a preference in TK to turn Dark Mode off. Just because I have system dark mode on does not necessarily signify that I want to be using TK in dark mode too.

[2019-11-12 02:41] bulkan commented on #198
@davidsansome thanks I appreciate all your effort on tsurukame !

[2019-11-12 06:21] #198 closed

[2019-11-12 06:42] abdulajet opened #199 "Dark mode fixes"
seems like building in the new xcode has enabled dark mode (sorry if that was me). there are a few areas that need fixing. if folks can drop screenshots in here that would make them easier to find

from settings:
![12E258C2-1C0C-40D5-8FB0-2EF6D87C4952](https://user-images.githubusercontent.com/15106299/68648234-ce322180-0517-11ea-9309-d3659dd994c2.png)
![58901CE9-F571-4599-9BAB-8D1C06BBAD9B](https

[2019-11-12 06:44] davidsansome commented on #199
Note that I've disabled dark mode with fe672b9457e62322a0277ae059e3d21a270b70b1 until we can support it fully.

[2019-11-12 06:47] abdulajet commented on #199
awesome, i’ll keep updating this issue with things i find

[2019-11-12 07:21] andresovela commented on #199
The chart in the main screen is also broken.
![IMG_0294](https://user-images.githubusercontent.com/8990961/68650435-4d7a2200-0525-11ea-9d02-56e55a998856.PNG)

[2019-11-12 07:51] brookshelley commented on #199
I think this is all due to the auto-inversion, vs specifying dark mode colors

[2019-11-12 11:07] erujp commented on #199
I have just downloaded the last version from the App Store and I have the same problem (see attachment) because my iPhone is using Dark Mode. If I switch the whole iPhone to Light mode everything in Tsurukame is normal.
![IMG_5552](https://user-images.githubusercontent.com/15182743/68666818-f3f70f00-0587-11ea-8c79-eadd6779752e.PNG)

[2019-11-12 13:22] steakfryday commented on #199
![ECE91470-22FF-4FDB-AED1-FE7F95CDE0F0](https://user-images.githubusercontent.com/44472050/68675214-c7002780-059a-11ea-99bc-2c9a492e02ed.png)
Here’s another shot of Dark Mode. I’m willing to switch back to Light while using this app, but I hope it’s fixed soon.

[2019-11-12 16:12] Phrim1 opened #200 "Vacation Mode"
App does not respect "vacation mode" set via the web site.  New reviews still keep appearing in the app despite vacation mode being set.  There is no way to set app to vacation mode independently.

[2019-11-12 16:19] Phrim1 opened #201 "Random Lesson Order"
It would be nice to be able to sort Lessons by random instead of some combination of Radical/Kanji/Vocab.  This is implemented on the web with the option "Lesson Ordering: Shuffled".

[2019-11-12 19:26] turtlemaster19 commented on #199
Would love to see this fixed to fully support #97

[2019-11-12 22:25] bulkan commented on #199
This has been fixed in https://github.com/davidsansome/tsurukame/issues/198 and now available on App Store.

[2019-11-13 01:34] turtlemaster19 commented on #173
Cool. That would be a great enhancement. We might need to work on some of the more important things right now (dark mode didn't go over so well in 1.13,) but that would be a great addition.

[2019-11-13 01:42] turtlemaster19 commented on #189
This issue will remain closed unless someone else re-opens it because there are more important problems to address.

[2019-11-13 05:24] #199 closed

[2019-11-13 08:59] bmironer opened #202 "Animate SRS dots on rank up"
I love the new little dots for SRS ranking!
But now it kinda feels there's something missing.
I think I'm expecting them to 'pop' when I get the answer right (or wrong) and the rank changes.
Maybe a simple animation of the dot filling in / out, or just blinking it once or twice...

[2019-11-13 09:08] Kosezu opened #203 "iOS 13 Dark Mode Not Working"
Most recent app version 1.14 references iOS 13 Dark Mode issue fixed, but there is no dark mode function on the app.

Is there in fact a dark mode?

[2019-11-13 13:03] garrettcampagna opened #204 "Text is not readable in dark mode"
Many of the backgrounds in the app are now adjusting based on the user's dark mode setting but the text is not changing so it's unreadable.
Until this is resolved, please allow the user to toggle dark mode within the app, separately from the iOS-wide dark mode setting.

[2019-11-13 13:28] davidsansome commented on #203
Duplicate of #198

[2019-11-13 13:28] #203 closed

[2019-11-13 13:28] davidsansome commented on #204
Duplicate of #198

[2019-11-13 13:28] #204 closed

[2019-11-13 13:30] davidsansome commented on #202
@mzsanford what do you think? 😄

[2019-11-13 16:35] mzsanford commented on #202
I'll work on adding some transition animations

[2019-11-13 17:34] garrettcampagna commented on #204
I apologize. I didn’t see that issue and didn’t have the update available yet. I see it’s fixed now and appreciate it!

[2019-11-14 03:51] #202 closed

[2019-11-14 14:16] turtlemaster19 opened #206 "Visually Similar Kanhi"
In the latest release, it says "Visually Similar Kanhi" instead of kanji.
**Edit:** I probably would have submitted a PR for this one, but I'm not at my computer right now.
![47EDBC43-6486-4045-9F11-8E4AAFF58019](https://user-images.githubusercontent.com/46784000/68907398-3c8c0500-070d-11ea-9552-8273c9f54ef5.png)

[2019-11-14 14:17] turtlemaster19 commented on #203
@Kosezu No, not yet, it wasn't supposed to be added. That's why #97 is still open

[2019-11-15 00:54] turtlemaster19 opened #207 "Don't accept nothing as answer"
The checkmark button is able to be clicked without typing anything. It shouldn't be able to do that, like on WaniKani (see [this thread](https://community.wanikani.com/t/what-do-you-type-in-when-you-have-no-idea-what-the-kanji-is/39745))
![IMG_F41AD94CAE15-1](https://user-images.githubusercontent.com/46784000/68908202-32b7d100-0710-11ea-9a3e-d7ca61b24bba.jpeg)

[2019-11-15 01:06] turtlemaster19 commented on #51
Is this still an issue now, or can it be safely closed. What do you think, @davidsansome?

[2019-11-15 01:07] dwnkg commented on #51
It can be safely closed. Things are working perfectly for me now, thanks!

On Thu, Nov 14, 2019 at 7:06 PM turtlemaster19 <notifications@github.com>
wrote:

[2019-11-15 01:08] turtlemaster19 commented on #51
Okay, there should be a close button on the GitHub site. Thanks for responding! ;) Hope that your WaniKani experience is going well now.

[2019-11-15 01:22] turtlemaster19 commented on #202
If we're going to do this, is #10 a thought?

[2019-11-15 01:33] #206 closed

[2019-11-15 01:34] #51 closed

[2019-11-15 01:44] turtlemaster19 commented on #117
This was resolved in the above PR. I can confirm that tab does do this.

[2019-11-15 01:57] turtlemaster19 commented on #99
Yikes! Is this (and #96) still occurring now?

[2019-11-15 01:57] turtlemaster19 commented on #96
Yikes... Is this (or #99) still occurring?

[2019-11-15 02:05] turtlemaster19 commented on #87
Not yet fully resolved.
![IMG_7191](https://user-images.githubusercontent.com/46784000/68911263-f7220480-0719-11ea-88ce-3e1d17b0c821.JPG)
Although some items have been removed for brevity, there is still a (hidden) distinction between uploaded and non-uploaded items. This is better, but could the word "pending" be used if we're going to keep it distinct (e.g. Pending Guru I vs. Guru I)

[2019-11-15 02:13] #117 closed

[2019-11-15 02:39] lyallcooper commented on #117
Thanks, I should’ve closed this when my PR was merged.

[2019-11-15 02:53] Kosezu commented on #203
@turtlemaster19 could you please add a dark mode to the app??

I spend a decent amount of time studying at night and it would be a very great help!

[2019-11-15 13:21] turtlemaster19 commented on #203
I agree, that's why the other issue is still open. It's not exactly easy to add new features, though.

[2019-11-15 23:05] davidsansome commented on #207
Oops, I broke this in 237ed095cce0676005f6b75477cca4fedf1003e0 when I converted that class to Swift.  Thanks for noticing it!

[2019-11-15 23:05] #207 closed

[2019-11-15 23:56] #183 closed

[2019-11-16 01:38] #170 closed

[2019-11-17 00:46] mzsanford commented on #119
I recently did a profession project based on iOS app extensions so I may take a crack at this. The options for complications have some serious design limitations, as your can see in the [Human Interface Guidelines](https://developer.apple.com/design/human-interface-guidelines/watchos/app-architecture/complications/). I've started a little bit of testing to see how often it can refresh and such.

S

[2019-11-17 01:46] turtlemaster19 commented on #184
Just experienced this. On my iPad, AlliCrab, and the website - 192 reviews. Tsurukame reports 190.

[2019-11-17 01:48] turtlemaster19 commented on #94
This is not the locked items issue at all, but I can confirm it is occurring (the items may vary, but we do experience it)

[2019-11-18 13:26] turtlemaster19 commented on #27
@pascaldisse That is exactly the reason #57 is open - because Objective-C throws off possible contributors.

[2019-11-20 09:08] andresovela opened #210 "Reviews accept empty answers"
The checkmark button is enabled by default when the answer field is still empty. If you type something and delete it afterwards, the button disables correctly.

![IMG_0374](https://user-images.githubusercontent.com/8990961/69224927-abd67e80-0b7d-11ea-9271-4dee765dea24.PNG)

[2019-11-20 10:07] davidsansome commented on #210
Thanks for the bug report!  I fixed this already though for #207 - it should be in the next release.

[2019-11-20 10:07] #210 closed

[2019-11-20 10:14] andresovela commented on #210
Ah sorry, I did check the issues before posting to avoid duplicating, but it only occurred to me to check the open issues not the closed ones. Thanks!

[2019-11-20 12:43] turtlemaster19 commented on #210
@davidsansome Can you release a point release (1.14.1) to fix this? This is making me get some Reviews wrong that I actually know the answer to.

[2019-11-20 13:04] andresovela commented on #210
Same here

[2019-11-20 21:03] mzsanford commented on #119
Just in case anyone is following along, my current tests are below using real data transferred from the phone app. Allowing untethered data updates is much more complicated so I've pushed that off until later. Note:

  * The "Reviews" complications with a progress bar are currently fake data. I'm not sure a progress bar makes sense there.
  * The "Level 13.5" is because I am stuck in vocab with an

[2019-11-20 21:05] turtlemaster19 commented on #119
This is great! I can't wait, and I agree with your choices so far. I would love this on my Watch! Thank you!

[2019-11-21 11:40] davidsansome commented on #210
Yeah it's probably a good idea.  I'll kick off a release now!

[2019-11-21 17:47] turtlemaster19 commented on #187
To clarify, if the user typed "hitotu", count it wrong.

[2019-11-22 13:28] turtlemaster19 commented on #210
@davidsansome I haven't seen it yet, and it's been a whole day. I am not trying to be impatient, but does it take that long to release a bug fix to the App Store?!

[2019-11-22 21:01] turtlemaster19 commented on #206
Updated to 1.15, but this bug is still here:
![3E88670A-6B11-43A2-B7CA-4E21237A3CE4](https://user-images.githubusercontent.com/46784000/69460103-e46e8780-0d38-11ea-84e7-b1d6bc661fab.png)
Please help, @davidsansome神

[2019-11-22 21:52] mzsanford commented on #119
@turtlemaster19 said:

It turns out that just using text for that complication requires that it be two lines. The kanji on the SF font are so small that it is hard to decipher. I added some test code to generate an image and composite the kanji into the middle of it, since images can be full sized. I have not yet figured out how to generate the list of criticals (kanji only, no vocab given the spa

[2019-11-23 00:41] turtlemaster19 commented on #119
I was referring to this complication, sorry for the confusion:
![52C126AC-895F-43FB-834C-52FB3DB0C2AC](https://user-images.githubusercontent.com/46784000/69469630-843b0e00-0d57-11ea-8603-1358c8035fd2.png)

[2019-11-25 12:34] nicentra opened #212 "Please add continuous lessons mode"
Hey, love your app, quick question though: Would it be possible to add a continuous lesson mode like WaniKani works? It's quite annoying seeing 5 items, do the quiz and click on lessons again instead of getting 5 new items to learn. I hope it's clear what I mean ^^

[2019-11-25 12:45] turtlemaster19 commented on #212
Great feature request! Funny thing is, it's been raised before at #13

[2019-11-25 12:51] turtlemaster19 commented on #126
I agree that this works as intended. The app's notification banner will show the total amount of Reviews actually available, if you just wanted to access that number.

[2019-11-25 12:52] turtlemaster19 commented on #183
@davidsansome Can you add these hints back to lessons as well?

[2019-11-25 12:53] #212 closed

[2019-11-25 13:09] turtlemaster19 commented on #87
Let me ask, is it intended behavior to not allow Reviews for an item that has been Reviewed offline until it syncs? If it is, we can close this. If not, then we probably should leave it open.

[2019-11-25 13:16] davidsansome commented on #183
I don't think I removed them from lessons?

[2019-11-25 13:34] turtlemaster19 opened #213 "Don't allow kanji in reading"
If the user uses a Japanese IME and types in a kanji in the reading, it shouldn't be allowed. For example, for two, the katakana should still be able to submit, but the kanji (which would be marked wrong) should not. This would match WaniKani behavior.

[2019-11-25 13:37] turtlemaster19 commented on #97
It has now been implemented. Expect to see it in the next update!

[2019-11-25 14:30] turtlemaster19 commented on #183
Sorry, I was looking at my vocab lessons, wondering why they weren't there.
Clearly, vocab lessons don't have hints. 🤦‍♂

[2019-11-25 14:43] a-papadopoulos opened #214 "item crashing app"
When I try to view the word 紛れる, the app crashes. I haven't found any other item that crashes the app, so I'm not sure what's the pattern.

[2019-11-25 23:21] davidsansome commented on #214
Oops you're right - this look like a crash in the context-sentence-highlighter.  I'll try to fix it!

[2019-11-26 11:00] #214 closed

[2019-11-26 12:19] turtlemaster19 commented on #132
Speaking of this, @davidsansome, can you release this to the Mac App Store next update?

[2019-11-26 13:53] turtlemaster19 commented on #20
That part has been implemented.
As for the original request, good idea!

[2019-11-26 13:56] turtlemaster19 commented on #55
@sleepyspider1 Currently on iPad Pro 1, no problems here. There were some updates that fixed some problems with iPad around the end of last year. I think this was one of them. Are you still experiencing this?

[2019-11-26 14:15] turtlemaster19 commented on #10
@davidsansome, is this resolved?
![0815AE69-F731-4989-BC80-5A765CB660DC](https://user-images.githubusercontent.com/46784000/69640947-225afc80-1014-11ea-8371-81c16d5138a2.jpeg)

[2019-11-27 00:24] indirect opened #216 "Dark mode checklist"
Here's a running list of dark/light mode things I've noticed that could be improved. I plan to work through them as I have time, but anyone should free to tackle any of these and open a PR.

Needs a fix in dark mode:
- [x] remaining time (eg 3d 4h) should be light
- [x] "burned" label on dashboard should be light/readable
- [x] review answer field text should be visible as it is typed
- [x] lesson

[2019-11-27 14:11] turtlemaster19 commented on #216
Great! Just referencing #97 in case anyone is following along there

[2019-11-29 13:09] zebala opened #217 "Refresh does not do anything"
Most of the time when I open the app from the suspended state the reviews do not update if I have done some reviews on the PC. Swiping up and getting the "refreshing" has never actually done anything. I have to force close the app and open it again for the review number to update (and even then it is a bit inconsistent). Using iPhone SE with newest iOS.

[2019-11-29 15:19] turtlemaster19 commented on #217
I agree. Can there be a button for forcing the queued items to update? For example, if there are 130 queued items, it won't upload all of them. It might upload to 84 left, then 50 left. Then, nothing happens, so you close the app - and nothing happens. Then, randomly, you're up to date.

If it's actually trying to update, can you at the very least keep the spinning wheel, or some visual representa

[2019-11-29 18:51] turtlemaster19 commented on #172
Related to #49

[2019-11-29 19:06] turtlemaster19 opened #218 "Reading Problems"
1. For 物, もつ should be listed as an onyomi in Lessons and be accepted in Reviews
2. There should be an option where the kunyomi (such as もの for 物) should not be denied as the wrong reading, but be counted wrong like on WK

[2019-11-29 19:30] turtlemaster19 commented on #112
@davidsansome, here is a possible picture of what it could look like. It would be very useful to see this number IMHO.
![7FB0256B-9C5A-4729-8712-F9DFE0387560](https://user-images.githubusercontent.com/46784000/69887388-42a4e880-12ac-11ea-831e-6db426cc6bbf.jpeg)

[2019-11-29 20:43] turtlemaster19 opened #219 "Feature Request: Half-Level Setting"
A user can level up, but has vocab reviews stopping them from actually starting the next level. Can there be a setting where instead of showing the number of the new level, it shows a half-level?

For example, I officially levelled up to Level 19 a few days ago. During the period that I was doing some vocab lessons, I was actually "Level 18.5," but today I did my radical lessons so I'm now "Level

[2019-11-30 08:44] hesch opened #220 "楓 broken reading information"
The Kanji [楓](https://www.wanikani.com/kanji/楓) has a broken reading explanation in the app.
![700EFD06-90A2-45DB-BF9B-123148B322F0](https://user-images.githubusercontent.com/10466994/69898183-fdd58c00-1355-11ea-978f-871ab9e112cf.png)

[2019-11-30 18:16] turtlemaster19 commented on #49
@davidsansome, couldn't this or number 172  be closed now?

[2019-11-30 18:21] turtlemaster19 commented on #13
I think we should give the option to do another group of the same size. In Tsurukame's settings, you can currently change the size somewhere between 3 and 10.

[2019-11-30 18:23] turtlemaster19 commented on #19
@davidsansome, it exists now, but I currently have 15 reviews and after turning that off, it still remains.
![3A5FE91A-7016-4A34-ACE5-3EF389636CEB](https://user-images.githubusercontent.com/46784000/69904462-3e400480-136c-11ea-9269-5c75f2406e7f.png)

[2019-11-30 18:25] turtlemaster19 commented on #25
Here's what the graphs look like:
![DBABC29F-B21C-4035-B607-DE54C4F70294](https://user-images.githubusercontent.com/46784000/69904481-79423800-136c-11ea-98c9-a42257c06315.png)

[2019-12-01 09:24] c-ehrlich opened #221 "Feature Request: Automatically switch to Japanese keyboard to input readings"
I don't know if there is an API that does this, but if it's possible, it would be great to have an option that the app switches automatically between the English keyboard (for meanings) and the Japanese keyboard (for readings).

[2019-12-01 21:12] zebala commented on #219
Similarly I would love to be able to see my progress on the previous level, since that is what I'm actually interested in. I don't do items from the new level until I have finished the vocab, so it is just pointless to show the progress circles of the new level.

[2019-12-01 21:14] zebala opened #222 "Funky time remaining estimate"
There's still something weird with the level up time, since for this level I actually need 30 kanji done, which is not possible in the amount of time it display. Screenshot below.
![signal-2019-12-01-182530](https://user-images.githubusercontent.com/3922776/69920402-4b561400-1490-11ea-8a21-b672064901a1.png)

[2019-12-01 21:46] turtlemaster19 commented on #222
I think the level-up time is based on how long it took last level. Was your last level a fast level?

[2019-12-01 22:08] zebala commented on #222
Currently 42 so no.
https://github.com/davidsansome/tsurukame/blob/792c64a7f9b0a27803e15362f2abc0e60712742a/ios/LevelTimeRemainingItem.swift#L56

It seems the level up time lowers even if I don't do anything, because it minuses the current time spend on that level.

[2019-12-02 00:48] turtlemaster19 commented on #222
I see. We should probably check then to make sure that level-up would be possible in that time (so it should be at 6d 20h right now because Radicals are at Lesson)

[2019-12-02 00:49] turtlemaster19 commented on #221
Some people would consider using the Japanese keyboard at all cheating, due to the kanji hints when kana is entered. That would be interesting, though, especially if we could force the kanji hints not to display

[2019-12-02 11:01] c-ehrlich commented on #221
True, I hadn't thought about the Kanji auto complete. It should possible to somehow make that not show up - there are some other apps (for example fancy text editors like iA Writer) that modify the default English keyboard in various ways, without having to build their own keyboard from scratch.

[2019-12-02 14:28] turtlemaster19 commented on #220
Would there be a way to have Tsurukame ignore invalid tags, so we don't keep having these?

[2019-12-02 14:51] zebala opened #224 "Apprentice count discrepancy"
Currently Tsurukame does not count lessons that were just done (and are thus in the 'novice' state) in the apprentice count. Wanikani, however, does. Shouldn't this be changed to mimic the behavior on WK? This would be useful for people who like to keep their apprentice count under a certain limit.

[2019-12-02 14:59] turtlemaster19 commented on #224
I think we might have #112 for this one.

[2019-12-02 15:03] zebala commented on #224
Ah, must have missed that when searching. Personally, I don't really see the point of separating the novice items. I mean they are there usually only for four hours, and information/ui bloat is a thing.

[2019-12-02 21:05] mzsanford commented on #119
@turtlemaster19 I can't find a watch face in the simulator that replicates that complication. I checked both the [handy cheat sheet](https://theswiftdev.com/2016/04/28/clockkit-complications-cheat-sheet/) and the Apple docs. The closest I found is the [CLKComplicationFamily.graphicBezel family](https://developer.apple.com/documentation/clockkit/clkcomplicationtemplategraphicbezelcirculartext) (ima

[2019-12-02 21:15] turtlemaster19 commented on #119
Series 4, optional complication on California. Similar to that one on the Infogram, but it doesn't offer the circle.

[2019-12-02 21:26] mzsanford commented on #119
@turtlemaster19 thank you for the info. I was missing it because it only becomes available once you change the face shape of the California to "circular", I was on the default "full screen". It turns out it uses the existing "utilitarianLarge" family so I'll make sure to test that.

[2019-12-03 00:35] turtlemaster19 commented on #224
I completely agree. It's definitely a discrepancy with WK and all other resources in existence - I think we should remove it. Let me go edit the other issue.

[2019-12-03 00:41] turtlemaster19 commented on #172
@indirect or @davidsansome, even the blurring was fine. It might not look great, but it did the job.

I just don't want to see the other half of the answer if it was a typo that Tsurukame didn't catch and I am going to ignore it.

[2019-12-03 10:39] hesch opened #225 "Lessons not uploaded to wanikani"
I just did some Lessons with the app and they don't show up as done in the wanikani webinterface. The lesson counter in turukame is now wrong and the app shows no queued updates.

[2019-12-03 14:02] turtlemaster19 commented on #225
#184 and #217 are similar, but they haven't mentioned Lessons before. Good luck! Maybe after you Review them, they will sync. 😕

[2019-12-03 18:22] mzsanford commented on #221
I created a pull request for this so @davidsansome can decide if they want to include the feature or not. I can see it going either way.

[2019-12-03 18:33] mzsanford commented on #219
I've also toyed with other representations<sup>1</sup> in my design work for #119.  If this is something that the app is going to support then these notes might be helpful:

Given the specific space constraints of Apple Watch complications in #119 something like "18↑" might work better than "18.5". It feels like "18↗︎" might be an even better representation but I have yet to test the relative widt

[2019-12-03 18:44] turtlemaster19 commented on #64
Coincided with #19

[2019-12-04 05:23] davidsansome commented on #217
Should be fixed by 41e6dacafac811dcbb722cbe17fc6d3d3a07e3a2

[2019-12-04 05:23] #217 closed

[2019-12-04 08:23] indirect commented on #216
Once #229 is merged, the remaining three will be harder:

Highlight colors are NSAttributedStrings set to hard-coded colors, and don't (currently) update when dark mode activates. My theory for how to fix this is to switch to using Asset colors, which have the ability to include dark mode variants. That might mean requiring iOS 10+.

The download audio seems easier but more tedious, updating every

[2019-12-04 14:12] turtlemaster19 commented on #19
@davidsansome, doesn't #227 close this?

[2019-12-04 14:14] turtlemaster19 commented on #119
I opened #219 because we should have consistent level naming between a Tsurukame Watch app and the Tsurukame iOS/macOS app that already exists

[2019-12-04 15:51] timmy-lee opened #230 "Feature suggestion: show all readings in kanji"
Something like this when looking up kanji:
![image](https://user-images.githubusercontent.com/20361890/70157348-477de980-166a-11ea-8e94-3189231b2964.png)

It looks like this only appears when looking up specific kanji and not in the lessons. So as far as this request is concerned, having that feature parity would be nice, but having it appear in the lessons would be even nicer.

[2019-12-04 15:53] timmy-lee commented on #230
@davidsansome If this sounds like a feature that you think would be a nice addition, I'd be happy to try tackling it and familiarizing myself with this project to help with future contributions. 😄

[2019-12-04 19:35] mzsanford commented on #216
I think I have an easy fix for the highlight issue, PR upcoming.

[2019-12-05 02:06] turtlemaster19 commented on #230
While I am not him, I was contemplating this while opening #218. Hopefully this actually is implemented, (but maybe not in Lessons) as this is standard WK (and AlliCrab) behavior

[2019-12-05 02:08] turtlemaster19 commented on #221
It looks like he wants it in. I would like to see it, but I would like to have the feature (if not already):
* optional
* be able to eventually hide the kanji hints (but don't let this stop it from being added)

[2019-12-05 02:09] turtlemaster19 commented on #220
But, anyways, can someone fix the overrides list until then?

[2019-12-05 02:41] davidsansome commented on #230
WaniKani marks these non-primary Kanji readings as wrong, which is why they're not shown during lessons so you don't learn incorrect answers.
I'd be happy to show these other readings outside of lessons.  We could maybe show them during lessons as well if we made it very clear which one is the "correct" Kanji reading, and that the other one is only being shown for information purposes and not as p

[2019-12-05 02:45] #221 closed

[2019-12-05 09:44] zebala commented on #222
Just an update to see how the time has progressed. Haven't done any lessons since.

![signal-attachment-2019-12-05-114300_001](https://user-images.githubusercontent.com/3922776/70223527-87210000-1754-11ea-908e-71ff7a59132f.png)

[2019-12-05 14:45] turtlemaster19 opened #231 "Hide accuracy during Lessons"
It's just a distraction (especially given that no cheating is allowed for typos that it didn't catch). Also, optional hiding it in Reviews would be nice!

[2019-12-05 16:31] turtlemaster19 commented on #222
Yikes! It went down below 3d 10h. I guess that makes sense since the Radicals haven't been Guru'd, but it shouldn't be doing that

[2019-12-07 01:44] turtlemaster19 opened #233 "Error 429 - Too Many Requests"
While trying to generate the data.bin, some of the radicals aren't downloaded because of this error.
![HTTP429](https://user-images.githubusercontent.com/46784000/70366896-d3596680-1860-11ea-8a85-ba6fdbd17f37.png)

Another reason we should consider using the API to get data (#180) and converting Go code to Swift (#189)

[2019-12-07 01:46] turtlemaster19 commented on #233
Another reason we should consider using the API to get data (#180) and converting Go code to Swift (#189)

[2019-12-07 17:25] turtlemaster19 commented on #123
@davidsansome or @lyallcooper, isn't this closed by #232?

[2019-12-07 17:28] turtlemaster19 commented on #218
Actually, this should probably just be closed as a dupe of #230

[2019-12-07 17:28] #218 closed

[2019-12-07 21:56] turtlemaster19 commented on #141
@ianklatzco Is this the same as #87, or a resolved issue?

[2019-12-07 22:06] turtlemaster19 commented on #190
@indirect BTW, where did you get those lines from on the right side? `davidsansome/master` doesn't have those.

[2019-12-07 22:11] turtlemaster19 commented on #25
@indirect, based on the picture in #191, are you able to do this?

[2019-12-09 14:02] turtlemaster19 opened #234 "Feature Request: Allow user to provide API key"
Currently, the user must provide their account details. The user should be able to instead provide a APIv2 key to their account.

[2019-12-09 15:27] timmy-lee commented on #230
By enabling the primary readings in the way you mentioned, I get something like this:
![image](https://user-images.githubusercontent.com/20361890/70448096-b2596700-1a54-11ea-9c9f-edf917c04d62.png)

But I was thinking more of something like this (the readings themselves haven't been sorted yet):
![image](https://user-images.githubusercontent.com/20361890/70448379-21cf5680-1a55-11ea-8452-f4efb0befab

[2019-12-09 20:10] sciencemanx commented on #233
At the very least some form of exponential backoff + timeout should be used to retry the fetch

[2019-12-09 20:49] sciencemanx commented on #230
another important note onyomi should be katakana and kunyomi + nanori should be in hiragana. Probably the "suggested" reading should be at the top

[2019-12-09 20:57] sciencemanx commented on #230
another thing to consider is how much vertical space is consumed from having a section for each reading

[2019-12-09 23:41] mzsanford commented on #119
Is anyone on this thread is interested in testing please send me your Apple ID email address and I'll see if I can get what I have so far posted to TestFlight (using a new app identifier, only for TestFlight and not general release). You can send the Apple ID via https://gitter.im/tsurukame/testers or via email to (matt AT my_github_username dot com).

[2019-12-10 13:14] rogovich opened #235 "Reviews don’t sync"
Hi! First, the app is amazing. However, my reviews and lessons do not sync neither to wanikani website nor to Tsurukame app on another device (iPad and iPhone). Doing reviews online. If I log out app, when I log in back I see the same number of reviews that wanikani shows.  E.g. I had 200 reviews, I did 100 in Tsurukame, it had never synced, I logged out, logged in and see the same 200 reviews.

[2019-12-10 14:59] turtlemaster19 commented on #214
@davidsansome, this issue has stopped some people from doing Reviews. Can you release this to the App Store?

[2019-12-11 00:33] turtlemaster19 commented on #235
Are there any queued updates?

[2019-12-11 09:15] rogovich commented on #235
225 seems something like this. No updates queued. Just yesterday installed the app for the first time on both devices, similar behavior. Tried today and it is the same. Reviews are local and do not sync.

[2019-12-11 17:01] StarWitch opened #236 "feature idea: allow permanent skipping"
Also known as "Auto-Burning."

This feature idea is intended for users who studied kanji on their own for a while, but still want to use WaniKani to fill in knowledge gaps. For those users it can be frustrating to go over kanji they "burned" (mentally) years ago but still get them asked repeatedly in reviews by WaniKani. I know someone who'd love to use Tsurukame for kanji on their iPhone, but fin

[2019-12-11 17:48] turtlemaster19 commented on #236
From the [WaniKani FAQ](https://knowledge.wanikani.com/wanikani/skip-content/):

Besides, to burn an item, you only will have to answer it correctly 9 times.

[2019-12-11 18:21] StarWitch commented on #236
I'm actually a complete beginner, but I know someone who learns best through a flashcard-based system, but already knows a lot of kanji from attending school in Japan. They'd place themselves around Level 25-30 in terms of knowledge, so there's still a ton of stuff WaniKani can offer them.

But here's the thing. Even at max speed, assuming you get every single answer correct, each level takes abou

[2019-12-11 18:26] turtlemaster19 commented on #236
WaniKani exposes all the mnemonics, so one could simply use the API to create an Anki deck, or something "flashcard-based". That would be far easier to create, they would be able to use the system they prefer, and they don't have to worry about the other Levels. Skipping Levels aren't allowed on WK, so it's not really something we can do here at Tsurukame yet. I think you would be better off askin

[2019-12-12 01:42] turtlemaster19 opened #237 "Bug Report: Guru available"
On a previously gurued radical or kanji, if it is no longer at Guru, it will show "Guru available" even if there is not a Review.
![5B385461-2F5C-44A4-A8B9-EF6CFEB4179A](https://user-images.githubusercontent.com/46784000/70675281-5f4b0400-1c4e-11ea-81cc-22a3d1c96a15.jpeg)

[2019-12-15 14:39] turtlemaster19 opened #239 "Feature Request: Anonymous Session"
The idea is simple to explain, but probably hard to implement - allow completely offline lessons and reviewing **without** a WK account.

This could be used for a variety of reasons:
- not wanting to create an account
- testing purposes
- [keeping the App Store gods happy](https://github.com/cplaverty/KeitaiWaniKani/issues/45)

The question would be: If we implement it, would we allow the unlockin

[2019-12-15 21:50] turtlemaster19 commented on #184
This is related to #87 and #94. I checked the review I was missing (本能), and I found this:
![01476DBC-9FFC-40DD-8E1D-FDB4C08F832A](https://user-images.githubusercontent.com/46784000/70869844-822d2f00-1f52-11ea-8530-e701b56a3a00.png)

So, this is directly related to the locked items issue.

[2019-12-15 21:50] turtlemaster19 commented on #235
@rogovich Could this be #184 or related to it?

[2019-12-17 01:13] turtlemaster19 commented on #180
@davidsansome, when you look at #238, in case you come here, [the radical mnemonics are exposed](https://community.wanikani.com/t/api-v2-beta-documentation/18987/743?u=japanstar49).

[2019-12-17 01:47] turtlemaster19 opened #240 "Feature Request: Heatmap"
I propose adding the equivalent of https://community.wanikani.com/t/userscript-wanikani-heatmap/34947 after the major issues have been resolved and someone would like to work on this. 😉

[2019-12-17 04:23] jneen commented on #236
Hi! I just want to chime in here - I lived in Japan for about 2 years and know around 700 kanji. My knowledge doesn't always map cleanly to WK though, since some of the characters I learned were fairly specific to the technical jargon I used on a daily basis. I'd like to fill in my gaps, but it's been an awful slog going through nearly a year of reviews for things that I really, honestly, do not n

[2019-12-17 04:26] jneen commented on #236
Weirdly, auto-burn would be more useful than skipping levels, since there are items that I *do* need to review in some earlier levels.

[2019-12-17 11:47] turtlemaster19 commented on #236
@jneen, what did you end up doing on your WK userscript? Was it just a userscript to automatically mark the Reviews correct?

[2019-12-17 14:20] jneen commented on #236
It's very naive - any time I press Ctrl-K, it adds the current item to a localstorage database. If that item is ever seen again, it fills in the correct answer and submits the form automatically.

[2019-12-17 14:21] turtlemaster19 commented on #236
So you didn't mean auto-burn, just automatically mark as correct until burned.

[2019-12-17 14:22] jneen commented on #236
I mean, auto-burn would be better, but it's what I could come up with. WK itself still imposes the time restrictions between sessions, so there's not much to do about that, unless there's something I'm missing.

[2019-12-17 14:25] turtlemaster19 commented on #236
I know, but the only way we could truly auto-burn is:
1. WK allows manipulation of SRS stages via API (not possible, but requested many, many times)
2. Creating our own rules for an anonymous session (assuming #239 is implemented)

[2019-12-17 14:28] jneen commented on #236
That's fair! I would be happy with auto-fill-and-skip to be honest, it seems like the best that can be done from the client, and actually solves the issue.

[2019-12-17 14:34] turtlemaster19 commented on #236
I feel like to implement it, if allow cheating was on, there could be a menu with:
1. Mark this always correct (would require confirmation dialog)
2. Ask again later (because #42 at the same time would be nice)

This would parallel the existing menu for a wrong answer.

[2019-12-17 14:34] jneen commented on #236
Yes, exactly. On close read, this is exactly what @StarWitch seems to have been proposing :)

[2019-12-17 14:44] StarWitch commented on #236
What @jneen is talking about is what I had in mind, actually. I was trying not to get bogged down in technical details, but:

It would be something like a list of "auto-skipped" items that, when they come up in Reviews, Tsurukame would automatically submit the correct answer. There would also be a list you could edit within the app to add/remove those items.

My rationale for including such a feat

[2019-12-17 14:47] turtlemaster19 commented on #236
Right. I think that was covered in the previous posts. If I was able to, I would definitely work on this. As it is, I still don't know how to get the files needed to have a build succeed. 😢

[2019-12-17 15:44] StarWitch commented on #236
This was more of a feature proposal than a request, actually. I'd like to have a go at it if there's no major objections?

[2019-12-17 15:45] turtlemaster19 commented on #236
No objections. Feel free to implement this and #42. Good luck!

[2019-12-19 12:59] turtlemaster19 commented on #233
One would think that it would try to get all the radicals in one fetch (which is less than 1000 - I believe the limit for fetching) like how it fetches the kanji in groups of 1000.

[2019-12-20 01:02] turtlemaster19 commented on #119
@mzsanford Done! By the way, on the hour, sometimes the complication won't update the review count.
P.S. Why did you change the Watch icon?

[2019-12-20 17:12] mzsanford commented on #119
I had trouble fitting the current Tsurukame icon into the small space on the Apple Watch, it turns into a jumble of lines. I intend to go back and work on that before posting the PR.

[2019-12-20 18:27] turtlemaster19 commented on #119
Okay, makes sense. Happy Holidays!

[2019-12-21 01:21] turtlemaster19 commented on #53
Referencing #230 - pretty similar

[2019-12-21 01:23] turtlemaster19 commented on #230
I think that non-primary readings should still be shown in a different shade to tell them apart.

[2019-12-21 21:15] turtlemaster19 commented on #119
@mzsanford When you do read this, I propose two things:
1. When the hour changes, the complication often won't update.
2. Although the data can be "stale", this could be simply due to not opening WK at all. Is it possible to display the data that is there? It could be more useful for testing to see what it will display.

[2019-12-23 14:31] turtlemaster19 opened #246 "Feature Request: Remove Pie Chart for Level 60 users"
If a user is Level 60, and has gurued all items for Level 60, the pie chart should be hidden. What do you think?

[2019-12-24 13:52] turtlemaster19 commented on #119
If there aren't any Reviews in the next hour, even if there are Reviews available, it will only show the time until the new Reviews come, and won't show the number available.

[2019-12-25 22:24] jeff-bacon opened #247 "Combine Tool Not Working (missing subject 4169)"
Running the scrapper finishes without error but only takes 4 minutes while the documentation says that it should take roughly an hour.  Afterwards I try to combine the contents of the data folder into the data.bin file with the command listed in the docs.  I get an error stating that the subject 4169 is missing.  I've verified that the file is indeed missing from the data folder.

Is this a proble

[2019-12-25 22:32] turtlemaster19 commented on #247
Dupe of #233.
Merry Christmas and Happy Holidays!

[2019-12-25 22:37] jeff-bacon commented on #247
Merry Christmas!

I've looked through #233 and I'm not getting timeout errors when running the scrapper.  Is there a way to get a prebuilt data.bin file or am I out of luck until this bug gets fixed?

[2019-12-25 22:39] turtlemaster19 commented on #247
Timeout errors won't stop it. If you try to download again, will it show an error for whichever item is missing?

P.S. You could get a prebuilt data.bin, but I would need to build it before I could send it to you.

[2019-12-25 22:44] jeff-bacon commented on #247
I'm not in a huge hurry to poke around with tsurukame, I just wanted something to do over the holiday!  So please don't go out of your way to provide the data.bin.  Was going to see if I could get it compiled and running on MacOS.

Running the scrapper a second time gives me the following output:

<img width="566" alt="Screen Shot 2019-12-25 at 2 41 58 PM" src="https://user-images.githubuserconten

[2019-12-26 00:00] turtlemaster19 commented on #247
Subject ID 4169 is https://www.wanikani.com/vocabulary/%E4%B9%B1%E4%BA%A4-4169 (orgy; level 19). Are you able to visit the site? I can't.

[2019-12-26 00:04] jeff-bacon commented on #247
I'm not able to reach ID 4169 on wanikani.  That may explain why it's not being downloaded.  I'm not seeing an entry for "orgy" on the level 19 page either.

[2019-12-26 00:05] turtlemaster19 commented on #247
Here's the data entry if that helps.
`{"id":4169,"object":"vocabulary","url":"https://api.wanikani.com/v2/subjects/4169","data_updated_at":"2019-12-24T23:41:12.841269Z","data":{"created_at":"2012-11-01T03:38:26.911683Z","level":19,"slug":"乱交-4169","hidden_at":"2019-12-24T23:41:08.515772Z","document_url":"https://www.wanikani.com/vocabulary/%E4%B9%B1%E4%BA%A4-4169","characters":"乱交","meanings":[{"m

[2019-12-26 00:15] turtlemaster19 commented on #247
Here's a ZIP file containing the data.bin without item 4169, for now: [data.bin.zip](https://github.com/davidsansome/tsurukame/files/4000944/data.bin.zip)
I submitted a ticket with WK, but given that it's Christmas, it might be a while before it's fixed.

[2019-12-26 00:19] jeff-bacon commented on #247
Thanks a lot @turtlemaster19!

[2019-12-26 02:40] vietqhoang commented on #247
If you look at this payload you’ll see the field `hidden_at` is timestamped. This means the subject has been removed from the WK public view. In other words it is no longer being displayed and not reviewable.

You can read up on the field via our documentation:

https://docs.api.wanikani.com/20170710/#subjects

[2019-12-26 02:45] vietqhoang commented on #247
I believe there is a reason why there isn’t a hosted compiled bin on the project. Please reconsider sharing this.

[2019-12-26 02:50] davidsansome commented on #247
I've removed the link to the data.bin - we're not allowed to host it because it contains content that is only accessible to WaniKani subscribers!

[2019-12-26 02:52] jeff-bacon commented on #247
@vietqhoang I understand why this isn't provided as part of tsurukame as the data comes from WaniKani which is a paid-for service.  @turtlemaster19 I believe I can get by with just the missing data since I've been able to get the rest by using my API key.

As for the bug with the combine tool, is it possible to have it only require entries where hidden_at is null?

[2019-12-26 02:58] vietqhoang commented on #247
Not sure how the tool is written. For the API we have a parameter available to return only subjects based on the hidden state.

See `hidden` under the [parameters section](https://docs.api.wanikani.com/20170710/#get-all-subjects) of the API documentation for the `/subjects` endpoint.

[2019-12-26 03:01] jeff-bacon commented on #247
Ah excellent, it's already built into the API.  This will make for a clean fix.  Thanks @vietqhoang.

[2019-12-26 15:59] turtlemaster19 commented on #247
@vietqhoang Sorry about that. Please delete the link in your revision history, since it's still there. Thank you for reaching out about this!

The only reason I didn't try to share it some other way was [this post](https://community.wanikani.com/t/wanikani-items-now-public/37587)

[2019-12-30 14:16] #224 closed

[2019-12-30 14:47] davidsansome commented on #247
I think Tsurukame is already correctly ignoring hidden items.

The issue is that Orgy (4169) is still referenced in the amalgamation_subject_ids list for the 交 kanji (565).  Tsurukame is sanity checking it's got all the subjects it needs, and is failing because it's missing this one.

@vietqhoang would you be able to remove 4169 from the amalgamation_subject_ids list for 565?

[2019-12-30 14:49] vietqhoang commented on #247
Odd. It should ‘t be showing up. I’ll investigate and make the corrections by next business day. Will let you know when its done.

[2019-12-30 14:52] #220 closed

[2019-12-30 14:59] #231 closed

[2019-12-31 03:24] davidsansome commented on #180
Thanks!  But it looks like the API is still missing the deprecated_mnemonics for radicals.

[2019-12-31 03:49] #233 closed

[2019-12-31 04:01] davidsansome commented on #239
I don't think we'd ever implement this.
All the SRS logic is done by WaniKani so we'd have to reimplement that in the app itself, and I don't really see the purpose...

[2019-12-31 04:01] #239 closed

[2019-12-31 04:02] davidsansome commented on #240
I like the look of that!

[2019-12-31 04:05] davidsansome commented on #234
I actually think making users manage API keys and copy-paste them around between applications is really unfriendly, and I think we'd turn away a lot of users by making them do that.
I wish WaniKani would implement a proper OAuth login flow for third-party applications.

[2019-12-31 04:05] #234 closed

[2019-12-31 04:05] #230 closed

[2019-12-31 06:06] vietqhoang commented on #247
I was able to confirm the issue. I was also able to trace the problem with our end on why the hidden subject is showing up. I will have a pull request up to address this issue.

For the time being I went ahead and refreshed our API cache for all subjects. I can confirm for subject 565 it is no longer listing 4169 under `amalgamation_subject_ids`.

[2019-12-31 06:24] davidsansome commented on #247
That's awesome, thank you so much!

[2019-12-31 06:24] #247 closed

[2019-12-31 10:50] turtlemaster19 commented on #53
@davidsansome Shouldn’t this have closed with #120? Anyway, Happy New Year!

[2019-12-31 10:58] turtlemaster19 commented on #247
@jeff-bacon, depends on your Internet connection. Glad it wasn’t just me though, and that the tool finally works correctly.

[2019-12-31 11:01] turtlemaster19 commented on #239
Well, that makes it simple. Just wanted to mention it!

[2019-12-31 11:14] turtlemaster19 commented on #234
@davidsansome I meant it as an option, not a must, so that if the user would like to change Tsurukame’s permissions or something, they could.

[2020-01-01 11:06] turtlemaster19 commented on #180
They never had or plan to support the deprecated mnemonics, so I suppose we can still use the offline program for that. However, for the new mnemonics, being able to update them online for a content update would be useful, so that if a new item were introduced, it wouldn’t crash.

[2020-01-01 12:10] turtlemaster19 opened #249 "Update README to address how to install dependencies"
Since the dependencies aren’t included in the app (for good reasons), and come from different sources, the README should explain how to install the dependencies that need to be installed.

[2020-01-03 04:39] #173 closed

[2020-01-03 04:44] davidsansome commented on #53
Nearly - #230 made it show all readings but I'd like to make it more obvious which ones are onyomi and which are kunyomi.

[2020-01-03 04:46] davidsansome commented on #249
Which dependencies are you referring to?
The third-party iOS libraries are checked in (in the Pods directory), and the Go libraries are pinned by go.mod and fetched the first time you build.

[2020-01-03 08:25] baldwinvs commented on #94
I haven’t bothered searching all issues for this but this one seemed relevant for it: I had just hit level 2 and I had 3 new radicals and 3 new kanji to learn. I found it strange since I don’t remember this happening previously; after a day I checked the website and actually had 26 more radicals and 5 more kanji to learn.

[2020-01-03 10:42] turtlemaster19 commented on #94
@baldwinvs Can you share a screenshot of what Tsurukame shows if it’s still wrong?

[2020-01-03 10:46] turtlemaster19 commented on #249
I suppose the Go dependencies take care of themselves.
I was referring to any iOS dependencies that need any instructions to install (CocoaPods isn’t automatically installing all dependencies without any steps)

[2020-01-03 10:57] davidsansome commented on #249
The iOS dependencies should be all checked in.  What's the specific problem you're having?

[2020-01-03 11:15] turtlemaster19 commented on #249
I think the README should explain how `pod install` should be used.

[2020-01-03 14:51] ianklatzco commented on #141
the same!

[2020-01-03 16:19] baldwinvs commented on #94
![3192383E-D133-4BBC-840F-3C6C5AB5A0CB](https://user-images.githubusercontent.com/33703587/71734782-85089a80-2e01-11ea-8260-833206143299.png)
These are the remnants of the problem.

[2020-01-03 18:12] tauhotdog opened #251 "Missing Lessons in app"
Thanks for all your hard work on the app! Very much appreciated!

I noticed I haven’t had a lesson in quite a while in the app. I logged into the wanikani site and noticed there were 51 lessons waiting for me but in the app it’s been at 0 for at least 2-3 months.

[2020-01-03 23:51] turtlemaster19 commented on #141
@ianklatzco Great! Can you close it then to not crowd out the issues list?

[2020-01-03 23:54] turtlemaster19 commented on #251
@tauhotdog We are currently tracking this issue in #94 among others. Can you close it to not crowd out the issues list? Thank you and sorry about that. In the meantime, I would suggest logging out then logging back in to take care of it.

[2020-01-04 00:11] #251 closed

[2020-01-04 04:31] #141 closed

[2020-01-05 00:40] turtlemaster19 commented on #97
@davidsansome, can we close this issue since 216 is tracking remaining issues with dark mode?

[2020-01-05 00:43] turtlemaster19 commented on #112
The second point has now been implemented.

[2020-01-06 17:03] turtlemaster19 opened #253 "Feature Request: Stroke Order"
Some users like to see the stroke order of kanji. This request is for the ability to access stroke order diagrams when viewing kanji.

[2020-01-06 21:27] turtlemaster19 commented on #233
@davidsansome I thought this wasn't possible anymore since f3c7034 was supposed to fix it:
![Sin título](https://user-images.githubusercontent.com/46784000/71850040-06c62580-3099-11ea-8ea6-07124ee49435.png)

This is using the latest script

[2020-01-07 00:20] turtlemaster19 commented on #87
According to https://community.wanikani.com/t/api-v2-beta-documentation/18987/753, it would be possible to do multiple reviews for an item offline. This issue should remain open until it is possible to start the next timer offline, or it is clear that it is intended behavior (it's not a bug, it's a feature)

[2020-01-08 08:48] #97 closed

[2020-01-08 08:50] davidsansome commented on #216
I've done most of these now!  There's one final one I want to fix: the "Meaning" / "Reading" bar above the answer field on the review VC is a bit bright.

[2020-01-08 08:53] davidsansome commented on #233
I see the request timestamps are more frequent than 1 per second.  Are you sure you're using the new binary?  How are you running it, with `go run`?  Try running it with the "--request-interval 2s" flag - if that isn't recognised then it's an old binary.

[2020-01-08 18:06] turtlemaster19 commented on #219
@mzsanford There's always ½

[2020-01-08 18:37] turtlemaster19 commented on #216
We already do.

[2020-01-09 19:01] turtlemaster19 opened #255 "Remove Apprentice level-up popup (Revert #6)"
Now that #224 has been implemented, we need to correct #6. I see a few options:

1. Revert #224 (that seems ridiculous though)
2. Don't show the Apprentice level-up at all (an item can't down-level past Apprentice I)
3. Always show the level-up when an item increases (Apprentice II, Guru II, etc.)
4. Have an option to choose between 2 and 3

~~Of these options, it seems that the fourth option is p

[2020-01-09 19:28] turtlemaster19 commented on #249
Here are some images that address signing:
<img width="584" alt="General" src="https://user-images.githubusercontent.com/46784000/72098368-ed64e980-32e3-11ea-8cee-e1837d993269.PNG">
<img width="637" alt="Signing & Capabilities" src="https://user-images.githubusercontent.com/46784000/72098370-ed64e980-32e3-11ea-83a9-1783a94213d5.PNG">

[2020-01-10 04:59] #187 closed

[2020-01-10 05:00] #222 closed

[2020-01-10 13:01] #213 closed

[2020-01-11 07:14] interpolack commented on #94
This has happened to me a couple times, I think usually when I get an item wrong. When the problem happens for a given item, its time remaining text does not appear in "Show remaining." Whereas other items show "Review in #h, Guru in #h," the item that will not ever show in the app does not have any text next to it. But that item will appear on the website. I hope this helps, really grateful for t

[2020-01-12 01:53] #249 closed

[2020-01-12 02:23] #20 closed

[2020-01-13 01:03] turtlemaster19 commented on #233
@davidsansome Yes, it's the new binary. The request interval is recognised.
![Sin título](https://user-images.githubusercontent.com/46784000/72228639-29ab7a80-356e-11ea-89ed-3a317f2c927c.png)

[2020-01-13 01:10] turtlemaster19 commented on #247
@vietqhoang, you hid 今日は (item 7564) which is still showing up for subject 476 (日)

[2020-01-13 01:12] vietqhoang commented on #247
Yeah. Our content team hid it the other day. The code changes to address the cache refresh is still being reviewed. I’ll force refresh the cache manually. Will update when it happens.

[2020-01-13 01:15] turtlemaster19 commented on #247
Okay. I'll start greeting people with 七千五百六十四 and figure that they'll understand. :wink:
Thank you for your effort, although I don't understand the purpose of hiding it, which was performed at `2020-01-10T23:45:48.511534Z`

[2020-01-13 01:19] vietqhoang commented on #247
I wouldn’t be the one to ask since I am not involved in content. Can’t give you an answer since I don’t know. Best way to get an answer is sending an email to hello@wanikani.com and someone from Content will be able to answer the question. Or a post on the boards.

[2020-01-13 01:20] turtlemaster19 commented on #247
Thank you, and I'm sorry to bother you. I can tell that you're working hard with what you do have, and I appreciate your assistance.

[2020-01-13 01:25] vietqhoang commented on #247
No problem. The cache thing is the fault of my end. Sorry I couldn’t provide an answer to your other questions.

[2020-01-13 01:27] turtlemaster19 commented on #233
The 1.2s request interval does impact this portion:
![Sin título](https://user-images.githubusercontent.com/46784000/72229116-9ffdac00-3571-11ea-8f1c-0662ab6a91b8.png)

[2020-01-13 01:30] turtlemaster19 commented on #247
@vietqhoang No, I completely understand. Just waiting to hear that the cache has been cleared.

[2020-01-13 01:31] vietqhoang commented on #247
Recalled the following content change log topic exists:

https://community.wanikani.com/t/wanikani-content-updates/33117/52

But the recently hidden subject in question is not listed. Inquiring about it with the content team now.

[2020-01-13 01:32] vietqhoang commented on #247
It’ll be a couple hours. Unfortunately I don’t have access to my workstation at the moment. Will be one of the first things I’ll do. Sorry for the inconvenience.

[2020-01-13 01:32] turtlemaster19 commented on #247
@vietqhoang Neither is the forbidden subject 4169 which was removed December 24, 2019 at 23:41:08.515772 UTC which caused this issue originally.

[2020-01-13 01:34] turtlemaster19 commented on #247
@vietqhoang Thank you. I completely understand, especially since I have been the one waiting to be at the other computer to try to fix an issue just yesterday.

[2020-01-13 04:19] vietqhoang commented on #247
@turtlemaster19 I have refreshed the cache. It looks like the components have been updated as well. Can you confirm?

To follow-up on the question on why the subject was removed (for reference for those coming into this conversation):

https://community.wanikani.com/t/今日は-こんにちは-is-gone-from-level-3-vocab-no-one-cares/41335

Thanks for your patience and sorry about the inconvenience.

[2020-01-13 05:18] davidsansome commented on #233
Oops you're right, I'm an idiot, I forgot to apply the rate limit to both types of API client.  Should be fixed by d696fc4bb9793ce43e5621bfbbc3443dafa56815

[2020-01-13 05:30] #216 closed

[2020-01-13 12:48] turtlemaster19 commented on #233
No, you just forgot something. It happens to all of us! It works correctly now.

[2020-01-13 13:57] turtlemaster19 commented on #247
@vietqhoang No, thank you! I hope your PR is merged and the force-refresh works now. Hopefully I won't have to mention you again!

[2020-01-13 14:06] turtlemaster19 opened #257 "Feature Request: Resurrect Burns & view item SRS stage"
When in the item view in a search, it should be possible to:
1. See the SRS stage/next review time of the item
2. Resurrect the item if it's burned if the user wants (Should have confirmation, though.)

[2020-01-14 11:07] #200 closed

[2020-01-14 18:30] asutekku opened #260 "Feature Request: Show next review date for passed items"
As the title says. I'd like to see when I have a burn review coming or when the kanji I completely have forgotten from the level 10 has the guru review coming up.

[2020-01-14 18:31] turtlemaster19 commented on #260
@asutekku So old kanji gurus and burns?

[2020-01-15 06:24] #255 closed

[2020-01-15 10:47] asutekku commented on #260
@turtlemaster19 Everything not on the current level and is not burned. It doesn't need to show the "Time to guru" or "Time to burn", just the "Review in XXX" in the "Show all" -view.

[2020-01-15 13:07] turtlemaster19 commented on #260
So, I'm thinking it would say "Next past level review"

[2020-01-15 13:51] turtlemaster19 commented on #260
![E10978A6-5703-4973-AEB7-2FB5F7C4402D](https://user-images.githubusercontent.com/46784000/72439063-d0a93580-376b-11ea-85d3-c40e942d5168.png)

[2020-01-16 16:54] mzsanford opened #262 "Feature: Add Dark Mode Setting"
Allow the app to be in Dark Mode or Light Mode no matter the system setting, per https://community.wanikani.com/t/ios-tsurukame-native-app-with-offline-lessons-and-reviews/30635/494

[2020-01-16 17:08] lucymation opened #263 "App crashed on sign-in!"
Hiya, I just tried to log in and the app crashed immediately. It won't re-open either.
I'm using iOS 13.1.2 on an iPhone 6s for reference.

Thank you for the app, so excited to use it!! :)

[2020-01-16 17:09] turtlemaster19 commented on #263
Try your email instead of the username

[2020-01-16 17:11] lucymation commented on #263
I can't actually open the app to do so, it crashed immediately!

[2020-01-16 17:11] bmironer opened #264 "Meaning keyboard always reverts to QWERTY."
since #36 was released, the keyboard now reverts to English QWERTY on every meaning question, instead of staying on the last selected layout, which is a real pain if you're not used to it.
Note : I'm using the French AZERTY layout, but my OS localization is in English-International.
This happens regardless of the wanikani setting.

[2020-01-16 17:11] turtlemaster19 commented on #264
Change the auto-select keyboard language setting

[2020-01-16 17:19] bmironer commented on #264
This happens regardless of the wanikani auto-select setting.
However, after a bit more testing, it seems it reverts, not to the QWERTY keyboard, but to the 1st one in the Keyboard list.
So just tap Edit in Keyboard Settings... and reordering the French keyboard to the top fixed it.

[2020-01-16 17:27] bmironer commented on #264
Mmh not always the 1st one it seems. If Emoji is at the top or adding a bunch of other keyboard with different scripts (Russian, Hebrew...) makes it revert to US english. Might be related to the script language of the answer text field.
Anyway having French AZERTY as the only roman keyboard seems to fix it.

[2020-01-16 17:28] turtlemaster19 commented on #264
Yes it is related - it's intended to be English. Sorry about that. ;)

[2020-01-16 17:34] lucymation commented on #263
I just deleted the app, tried to sign in using my username and the same thing happened sadly!

[2020-01-16 17:38] turtlemaster19 commented on #263
I can't experience this on any of the three builds. Can you share your WK level and what type of subscription you have?

[2020-01-16 17:40] lucymation commented on #263
I've just started WK, so I'm level 1! Is that anything to do with it?
I'm sorry I don't know how to get an APIv2 key!

[2020-01-16 17:57] turtlemaster19 commented on #263
Go make one here: https://www.wanikani.com/settings/personal_access_tokens

[2020-01-16 17:59] lucymation commented on #263
Thanks! I appear to already have one, what do you suggest?

[2020-01-16 18:02] turtlemaster19 commented on #263
I'll go test on my testing account and see if I can reproduce. I have an idea, but I need to make sure that the problem is on our side.

[2020-01-16 18:09] turtlemaster19 commented on #36
I think this was closed by #226.

[2020-01-16 18:10] turtlemaster19 commented on #264
@mzsanford Would this be possible to choose the user's default or something? I think you would know more about this than any of the rest of us, since you researched it for #226

[2020-01-16 18:13] turtlemaster19 commented on #263
@lucymation Were you able to log in into the TestFlight build?

[2020-01-16 18:16] lucymation commented on #263
I'm just attempting now, thank you!

[2020-01-16 18:19] lucymation commented on #263
I'm in on testflight!! The dashboard animated in about 3 times, but it appears to work!

[2020-01-16 18:21] mzsanford commented on #264
I also run an Arabic keyboard so I'll try some reordering and testing and see if I can fix this.

[2020-01-16 18:22] turtlemaster19 commented on #263
@lucymation Great! The App Store release is a bit behind the latest master, so I am glad this worked for you! Please close this issue, since we're trying to get a new release out to the App Store.

[2020-01-16 18:23] lucymation commented on #263
No problem, thanks so much for having a look! I look forward to using this for wanikani :)

[2020-01-16 18:23] #263 closed

[2020-01-16 18:30] mzsanford commented on #263
For the record, I think this by a call to `getAssignmentsAtLevel`, via `getAssignmentsAtUsersCurrentLevel` which deep inside attempts `level -1` … which for level `0` ends up as `18446744073709551615`. I'll push a fix for that ahead of my Testflight Apple Watch branch

[2020-01-16 18:32] turtlemaster19 commented on #263
There's no such thing as level 0. By the way, why did it work in the TestFlight then?

[2020-01-17 00:12] #264 closed

[2020-01-17 03:36] davidsansome commented on #263
I've pushed a new build to the App Store to fix this crash, hopefully it'll be live tomorrow!

[2020-01-17 09:56] davidsansome commented on #263
The new version is now live in the app store!

[2020-01-17 17:29] Zei33 opened #268 "Genius kanji explanation formatting broken"
Seems that the formatting is broken. Not sure if this is due to a change with WaniKani. I haven't noticed any other issues.

![Example](https://user-images.githubusercontent.com/11221111/72632702-91185e80-39a2-11ea-82ef-7c48b6bce0f6.jpeg)

Also thank you for this incredible app.

[2020-01-17 17:38] turtlemaster19 commented on #268
Yes. It is - I advise contacting hello@wanikani.com

[2020-01-17 17:39] Zei33 commented on #268
Okay I'll let them know. Thanks!

[2020-01-17 17:39] #268 closed

[2020-01-17 22:56] mzsanford commented on #96
Another crash was fixed in https://github.com/davidsansome/tsurukame/pull/266 and should now be in the App store. Maybe that fixed it?

[2020-01-18 10:03] bengarland opened #271 "Kanji display area no longer allows a single tap to reveal default font"
Since some recent app update, if you have multiple fonts turned on, tapping in the kanji display area no longer temporarily shows the kanji in the standard font (this is handy if the displayed font is really messy and you can't read it) -- now it seems you have to tap and do a short drag either up or down to show it. It's a very subtle difference, but being able to tap (without having to drag a fe

[2020-01-18 10:52] bmironer commented on #271
Additionally dragging Left with scroll through all the fonts, which is nice. Dragging right switches to standard font.
I’m still not sold on the current implementation although I got used to it fairly fast. I feel it’s surprising and lacks discoverability.
Maybe tapping for standard and dragging to scroll through fonts?
Adding page dots or a handle to show it’s draggable?
It’s still very convenien

[2020-01-18 10:56] bmironer commented on #271
Or is it simply that dragging left and right are different?
Maybe left/right should scroll through fonts in opposite order and have dragging down go to standard font.
Might be difficult to properly distinguish short drags though.

[2020-01-18 13:04] turtlemaster19 commented on #271
This is intended behavior introduced by #232. See https://community.wanikani.com/t/ios-tsurukame-native-app-with-offline-lessons-and-reviews/30635/502

[2020-01-18 13:40] vinpikmin opened #272 "Kanji Search No longer working"
I used to be able to search for words using English, romanji, hiragana, or Kanji characters but recently the last two suddenly stopped working. It was very convenient so I hope it was just a bug and that feature is not being removed.

[2020-01-18 16:06] turtlemaster19 commented on #96
@davidsansome?

[2020-01-18 23:46] davidsansome commented on #96
This bug is quite old so the crashes are probably unrelated.
Let's close this one, and open a new bug for any future crashes.

[2020-01-18 23:46] #96 closed

[2020-01-18 23:49] davidsansome commented on #271
I dunno... the swiping was intended but I didn't realise that broke the old behaviour.  I guess the tap gesture recogniser needs to wait for the drag recogniser to fail, so has a short delay before it works.
Let's see if we can fix this, or at least make the delay shorter.

[2020-01-18 23:56] bengarland commented on #271
I realized I can do a short drag-left to show the default font which isn’t nearly as hard to execute as drag-up (or down) for me. But yeah the old instant tap to reveal would be better.

(I like all of the improvements recently!)

[2020-01-19 05:19] #272 closed

[2020-01-20 16:54] turtlemaster19 commented on #260
@asutekku See the discussion at #261

[2020-01-20 16:59] turtlemaster19 commented on #271
@mzsanford, since you're not watching the repo, I thought you may want to see this issue.

[2020-01-20 21:28] mzsanford commented on #271
The swipe was expected in #232 but the tap should not have been broken. From that code it looks like it was already a `UILongPressGestureRecognizer` and since I wasn't using the feature I didn't realize how it was being used. It sounds like we want:

 1. Short-Tap should switch to "normal" font
 2. Long tap should reveal "normal" font but return to the special font on release
 2. Swipe should chan

[2020-01-20 22:19] bmironer commented on #271
1. / 2. Not sure. I used to simply put my finger up and down to compare the printed vs written for the less legible glyphs, especially with Armed Banana. Now I slightly drag right and release.  For 1. at least have a second shirt tap go back to the written version but that seems even less practical so I’d rather have 2. on a short tap.

3. It should probably use the order of the fonts in the setti

[2020-01-20 22:37] bmironer opened #274 "Breakdown the review count by SRS level"
Since level ~40 I’m having trouble keeping up with reviews. So I try to at least do my Apprentice and Guru reviews, and pick at the higher levels when I can. Sorting reviews by SRS level is perfect for that. We have a total tally of the cards by SRS level and now ‘next level up review’ gives me a idea of when I have Apprentice lessons coming up.

But I have no idea of how many Guru, Master or Enli

[2020-01-20 23:56] mzsanford commented on #271
@bmironer  I started testing this and I added a single tap that switches between "normal" and "random". It feels like this sort of replaces the long press as you could tap once to go to normal, and tap again to return. Having three gesture recognizers where two are long interactions (hold vs swipe) means having to delay changes to see which once it is and it feels overly complicated form both the

[2020-01-21 00:05] #262 closed

[2020-01-21 00:41] #83 closed

[2020-01-21 00:46] davidsansome commented on #274
This could be quite similar to #260.
I'd like to have the "upcoming reviews" chart indicate the SRS stage of the reviews that make up each bar.  It might be intuitive to show the breakdown of currently available reviews next to that.

[2020-01-21 01:01] turtlemaster19 commented on #235
This issue is still occurring. Reported today at https://community.wanikani.com/t/ios-tsurukame-native-app-with-offline-lessons-and-reviews/30635/530

I’ve tried to confirm with the website through the browser but the numbers aren’t matching up.

I tried reinstalling the app, but it still happens.

[2020-01-21 01:02] turtlemaster19 commented on #235
This issue is still occurring. Reported today at https://community.wanikani.com/t/ios-tsurukame-native-app-with-offline-lessons-and-reviews/30635/530

I’ve tried to confirm with the website through the browser but the numbers aren’t matching up.
I tried reinstalling the app, but it still happens.

[2020-01-21 01:14] turtlemaster19 commented on #274
This may help finally finish #112

[2020-01-21 07:45] bmironer commented on #274
Yes, it seems the same a .2 in #112.
#260 is different but has a similar purpose I guess.

[2020-01-21 08:02] bmironer commented on #271
We need to test it I believe.
I agree that having both short and long presses would be complicated, error prone, and maybe not at all discoverable. Took a bit to figure out how the current version works since there isn't a target, handle or hint.
Also I don't think it should be a global switch between random and normal if that's what you mean.(that would be in settings or in the quick menu)
It's j

[2020-01-21 08:10] bmironer commented on #271
Or a completely different idea :
Forget swiping / scrolling fonts.

Add a small row of the current kanji in font variants just above the 'Kanji meaning/reading prompt' Tap the small kanjis to switch to that font.
Make the panel optional in settings.

Then restore the previous functionality for the main panel :
Select one at random for each review (in settings), as it used to.
Tapping in the big ka

[2020-01-21 08:21] bengarland commented on #271
I started this issue, and frankly I consider it solved now that I know all I have to do is tap and very slightly swipe right to reveal the legible standard font. Swipe left is okay to show other fonts. Any long-tap-and-wait functionality can be removed as far as I'm concerned, if it helps clean up the code or reduce tap/drag conflicts.

[2020-01-21 09:03] dmikhalsky opened #275 "Automatic keyboard switching"
I do believe it is a very useful feature but I am struggling to understand the way it is implmented now.

"Big" (Web) Wanikani has IME built-in so does Tsurukame, so there is no need to use JP keyboard in the app. I don't switch keyboards, I just set keyboard as English and it provides proper input for Meaning (directly) and for Reading (via automatic conversion to Japanese)

If automatic switchin

[2020-01-21 13:58] turtlemaster19 commented on #275
Yes, I use the Japanese keyboard in the app. I agree that it should be a three-way setting:
Off, English only, English and Japanese

Unfortunately, I am not that great with view controllers, so this wouldn't be an easy fix for me. For some other contributors, this wouldn't be too hard.

[2020-01-21 14:01] turtlemaster19 commented on #274
@bmironer #261 was closed due to this very request, so that's why David Sansome mentioned it.

[2020-01-21 14:02] dmikhalsky commented on #275
Got it. Happy that we are aligned.
Just for reference: is there an advantage to use JP keyboard? May be I should start using it

[2020-01-21 14:04] turtlemaster19 commented on #275
I prefer it to roomaji and nn

[2020-01-21 14:05] turtlemaster19 commented on #275
I prefer it to roomaji and nn
Tofugu has an article about "how romaji can ruin your day": https://www.tofugu.com/japanese/romaji/

[2020-01-21 17:04] mzsanford commented on #271
@bmironer I'm awaiting app store review for a new TestFlight (1.18). This includes all of the changes from the past week plus Apple Watch and my proposed font changes. Give it a try when it comes out. The tap handler works like you suggest, if you tap it toggles between normal and custom fonts. the next item picks a random one again to start. This also uses swipe to cycle through fonts in a predic

[2020-01-21 17:05] turtlemaster19 commented on #271
@bmironer @bengarland @mzsanford David Sansome just shared the link for the official TestFlight in this post: https://github.com/davidsansome/tsurukame/pull/273#issuecomment-576779237

[2020-01-21 19:39] mzsanford commented on #275
I don't have any analytics from Tsurukame to back this up but it is my assumption most users are using the standard romanji IME like Wanikani. I added the keyboard switching but left it disabled by default since that was my assumption. I believe the switching option exists for people who want to practice the kana keyboard as part of reviews (I always mistype つ in romanji for some reason. Not so wi

[2020-01-21 20:25] bmironer commented on #275
Is there any way to identify and remember the selected keyboards separately for reading and meaning? Then go back to whatever keyboard I last used to enter the previous answer ?
I’m not sure there’s a specific API for that though. I believe keyboards are tied to textfield language.

[2020-01-21 21:09] mzsanford commented on #275
@bmironer I found a way to save the state without finding and force-selecting a Japanese keyboard. As an example, assuming 3 keyboards {RU, EN, JA} with a system default of RU:

 1. Launch reviews, default keyboard=RU
 2. Presented "meaning" item
 3. Switch keyboard to EN
 4. Answer correctly (good job)
 5. Next item is a "reading" item, keyboard reverts to RU
 6. Switch keyboard to JA
 7. Answer

[2020-01-22 00:04] bengarland commented on #271
Hmm I’m on 1.18 now and it looks like nothing really changed regarding this issue. A short tap still does nothing, I still have to tap and slightly drag right to show the standard font.

[2020-01-22 00:32] turtlemaster19 commented on #271
@bengarland Oops. I thought that the changes had already been merged: they haven't.

@mzsanford Could you submit a PR?

[2020-01-22 01:38] mzsanford commented on #271
@bengarland it is in the unofficial TestFlight only (TF Name: Tsurukame MZSanford). Is that the one you're using? I know that it's confusing with two.

@turtlemaster19 I want to make sure it working before submitting a PR since the app store road is long and slow. I'm at 2 PRs already around this feature so I'm hoping to get direct feedback via the unofficial TestFlight and iterate.

<sub>Sent wit

[2020-01-22 02:18] #275 closed

[2020-01-22 03:20] bengarland commented on #271
@mzsanford Oh sorry, yeah I'm only on the official test build.

[2020-01-22 07:58] bmironer commented on #271
Tried it this morning.

- Double tapping to go back and forth between standard and custom fonts.

It kinda felt more cumbersome than tap-and-release at first.
But it's definitely easier to discover and understand than tap-and-drag-right.
I could get used to it I guess.
Definitely an improvement.

- Swiping left changes the font (as it already does).
but swiping right doesn't do anything
I feel swi

[2020-01-22 13:32] alisonlopez opened #277 "Reviews are not working"
Hello! First of all I want to thank you fot this amazing app...It's really useful and user-friendly and it really helped me to get my lessons and reviews in order...but a month ago it stopped working for me. And it's a shame because I think it's the best app in the App Store for wanikani :(

It seems that the app cannot submit my lessons and reviews...If I do some reviews and go to the PC I see th

[2020-01-22 13:55] turtlemaster19 commented on #277
Do you experience this issue on the official TestFlight? By the way, this is covered by #225 and #235, so either this or those will need to be closed.

[2020-01-22 15:15] alisonlopez commented on #277
Don't know If it's okay to comment here or in the other issue...

How can I test it?

[2020-01-22 16:37] mzsanford commented on #235
@rogovich do you have a Mac? If so could you view the logs on the phone ([instructions for using Console.app to view logs](http://osxdaily.com/2018/07/12/how-view-ios-logs-on-mac/))? It would be most helpful if you (diagram below):

  1. Select your phone - this will display your phone logs on the right hand side
  2. Search for "tsurukame" - type it in the box and hit `enter`. It will probably bl

[2020-01-22 16:38] mzsanford commented on #277
@alisonlopez if you have a Mac check out https://github.com/davidsansome/tsurukame/issues/235#issuecomment-577273703 for how to gather logs that can help us find the root cause and get it fixed.

[2020-01-22 16:41] turtlemaster19 commented on #277
@alisonlopez It might be a good idea to close this issue since there's another issue that this is a duplicate of. You can keep commenting here after it's closed.

[2020-01-22 21:01] alisonlopez commented on #277
Yeah, It doesn't work even with the testflight app.

Sorry I don't have a MAC to get the logs for you :(

[2020-01-22 21:08] davidsansome commented on #277
@alisonlopez could you go to Settings in the app, hit "Export local database" at the bottom and email it to me@davidsansome.com?  That should contain a log of the requests that failed.

[2020-01-22 21:25] turtlemaster19 commented on #277
@davidsansome Dupe of #235

[2020-01-24 03:38] davidsansome commented on #277
@alisonlopez sent me their database, it looks like there's a clock skew problem on the client:

[code]

Requests for assignments and study materials are being made with timestamps in the future (from the server's perspective), so are being rejected.
Review progress requests are also being rejected for "Record invalid", probably because their created_at date is in the future.

We don't retry reques

[2020-01-25 07:58] #271 closed

[2020-01-28 12:23] dambros opened #279 "Kanji order from lessons different from website"
This may be irrelevant most of the time, but I've just started using Wanikani (so still level 1) and one of the first kanji they teach about is エ and on the same batch of kanjis, they will then teach 人.
The thing is, they build the mnemonics for 人 using the mnemonics you learned on エ, so in this very particular case the order the kanjis are displayed on a lesson matters.

While using the app to do

[2020-01-28 12:25] dambros commented on #27
+1 for the notes. It is fundamental to have this feature both for meaning and reading.

[2020-01-28 12:51] bmironer commented on #62
Having a bit of fun experimenting with the macOS version on the master branch.
I'm finding plenty of issues / improvements with usability and layout and even a few crashes.
Not sure any of my fixes would be deemed clean enough for a pull request though.

Anyway, is anyone still working on the macOS variant?
If so, is there a more appropriate place to report issues? or maybe a 'macOS' label ?

[2020-01-28 12:57] turtlemaster19 commented on #279
@dambros It is randomized, which actually matches WK behavior, believe it or not. WK will randomize them, too. There isn’t really an “original order” to begin with. We are hoping to add more sorting options, though.

[2020-01-28 13:00] turtlemaster19 commented on #62
@bmironer Feel free to create a PR anyway, since it might at least bring attention to the problems. If you feel the need to report an issue somewhere other than here or #132, you can create an issue. There aren’t really others currently working on it.

[2020-01-28 13:27] turtlemaster19 commented on #27
To get from the API, unfortunately, it's not part of the data endpoint, but rather a separate study material object: https://docs.api.wanikani.com/20170710/#study-materials
This means we're currently not retrieving them. To implement this, we would probably need to make a commit like d095f05 modifying the Go code, then modify `proto/wanikani.proto` before we could even touch the Swift code at `Sub

[2020-01-28 13:50] turtlemaster19 commented on #27
All that will need to be done is modify `SubjectDetailsView.swift`. I might create a PR soon!

[2020-01-28 18:24] turtlemaster19 commented on #27
@pascaldisse @dysnomian In 2dd5406425408d88d6c72ad997167d2145ce2234, `SubjectDetailsView` was converted to Swift. I have created a PR, which if passing and functional, would implement the bare minimum of viewing existing notes. This may be useful if either of you are attempting to implement creating notes.

[2020-01-29 13:43] turtlemaster19 commented on #279
@dambros If you go to https://www.wanikani.com/level/1 you will see it ordered in alphabetical English order. Is that the “order” you want your lessons in? No randomizing, just straight from that page?

[2020-01-29 18:02] dambros commented on #279
@turtlemaster19 I was revising my original post and I incorrectly referenced the kanji mnemonics relationship. It is actually 口 - 工 and not 人 - 工, my bad.

As you can see, both have the same reading and on 口 they use the character they introduced previously on 工 ("Remember seeing the construction worker こういち earlier in the 工 mnemonic?").

This order is appropriate because 工 comes first.

[2020-01-29 18:03] turtlemaster19 commented on #279
@dambros I realized that this mnemonic issue is more of a WK-side thing, so I filed a request here: https://community.wanikani.com/t/level-1-%E5%8F%A3-mnemonic/41678
I encourage you to comment there!

[2020-01-29 18:07] dambros commented on #279
Thanks and done. I believe this issue can be closed.

[2020-01-29 18:07] #279 closed

[2020-01-30 13:35] turtlemaster19 commented on #279
@dambros The mnemonic has been updated on the site now. Thank you for reporting this!

[2020-01-30 13:43] turtlemaster19 opened #281 "Feature Request: Descending SRS order"
Like (closed) #24, but add descending SRS order.

[2020-01-30 13:58] zebala commented on #201
+1 to this. Recently I've come to hate the order in which WK gives the items, since it groups vocab using the same kanji together. This backfires in reviews as you may fail one but then remember the other ones even though you didn't. IMO it's better to sprinkle them. Also makes reviews and lessons a bit more interesting, and you don't get lots of similar items together.

[2020-01-31 09:59] jcousins-ynap commented on #107
I also found that copying the cookie from `preview.wanikani.com` doesn't work some of the time.

[2020-01-31 10:18] bmironer opened #283 "macOS: crash at startup once logged in"
the `headerView` is sometimes nil in `refresh()` and `updateUserInfo()` at startup with login info in the settings.
`guard let headerView = headerView else { return }` in both functions is enough to workaround.

[2020-01-31 10:20] bmironer opened #284 "macOS: the font preview resizes improperly"
It resizes to the width of the cell, keeping the aspect ratio, which zooms on the center of the image. It should probably not resize at all, or resize the cell with it so the image is still fully visible.

[2020-01-31 10:23] bmironer opened #285 "macOS: the font size slider at no effect"
Changing the font slider seems to have absolutely no effect. Even after relaunching the app

[2020-01-31 10:53] bmironer opened #286 "macOS : various issues"
Quick grab-bag of issues in the (home-built) macOS version.

- all TableViews in the macOS version use grey cell background with white (or black) section header backgrounds. This is the reverse than on iOS and since text still has its white (or black) background, it shows (in settings, kanji info, lessons etc..)

- The labels and text feel small on a 15" macbook screen.
Maybe globally bump it by 1

[2020-01-31 17:05] turtlemaster19 commented on #119
@mzsanford Once the user has moved the Radicals out of Lesson stage, can it go from Level 19.5 to Level 20, and show the new Level data?

[2020-01-31 17:36] turtlemaster19 commented on #237
I believe the problem is in `guruDateForSubject` where it assumes the subject must be Guru or higher to have a passed at date. The question is then, why are we displaying items if they have been Gurued?

https://github.com/davidsansome/tsurukame/blob/528131f62a11e31e6dfa409d7b6f69ee3c316acc/ios/proto/Wanikani%2BConvenience.m#L454-L465

[2020-01-31 17:53] turtlemaster19 commented on #246
Closing since it seems it's better to keep the chart the way it is.

[2020-01-31 17:53] #246 closed

[2020-02-03 13:39] turtlemaster19 commented on #219
@mzsanford What do you think?

[2020-02-03 17:57] turtlemaster19 commented on #19
This issue is now used for the app badging bug as described in #286

[2020-02-03 22:59] #281 closed

[2020-02-03 23:00] #237 closed

[2020-02-04 08:29] zapan commented on #283
Thanks! Works like a charm 😀

[2020-02-05 12:02] EmmaINSA commented on #253
It would be greatly appreciated, I totally agree with you! WaniKani is a great tool for learning kanji meaning and pronunciation (as well as vocabulary), but if you want to learn how to write kanji, it does not provide anything except radical breakdown. I would love to see this feature added to Tsurukame!

[2020-02-05 19:06] mzsanford commented on #119
@turtlemaster19 I'm working on getting the current implementation reviewed and then I'll start thinking about the half-level improvement.

[2020-02-05 19:07] turtlemaster19 commented on #119
Sounds good!

[2020-02-06 17:40] mzsanford commented on #253
I looked at where the data for those stroke diagrams comes from and I have a few ideas. The KaniVG stroke diagrams can be numbered, animated (fade in), or a strip like the user script. That leads to a few questions:

 1. Where would we want to add these? The detail pages for Kanji only or somewhere in the lessons/reviews? I feel like the lessons/reviews would be difficult to add due to the limited

[2020-02-06 17:52] bmironer commented on #253
It order to learn the order while reviewing it be great to have the kanji draw itself during lessons and reviews, when the kanji appears, or maybe when tapping it ? We'd have to find a way to make it work with the custom font swipe too.
But that's one of the feature I'd really really wish the app had.

[2020-02-06 18:17] turtlemaster19 commented on #253
I think in the detail pages for sure, but I never really thought about it being in reviews. Maybe it being in reviews could be a setting: it would probably be mutually exclusive with the random fonts.

Basically, I agree with the comment above.

P.S. Don't forget about custom symbol images: https://developer.apple.com/documentation/uikit/uiimage/creating_custom_symbol_images_for_your_app

[2020-02-06 19:42] EmmaINSA commented on #253
I think one way of integrating the stroke order feature could be to access it from each kanji's detail page, e.g. in a field between the 'radicals' and 'meaning explanation' ones.

If so, it could either be displayed as a static thumbnail of the kanji, leading to a full-size display of the animated stroke order like the .svg file @mzsanford linked when tapped, or the 'stroke order' field could be

[2020-02-07 04:42] evertonminami opened #292 "Reviews keep repeating the same 3 items"
Hi,

For the past 3 weeks, I've been having this issue where the same 3 items keep coming back in my reviews, so every time there is a new these 3 items are always there.

There are 1 kanji and 2 words:
kanji: 久
vocabulary: 久しい
vocabulary: 久しぶり

I've attached the latest copy of my local-cache-db if it helps.
I've tried logging out and in, but the issue remains.

Any idea why this is happening?
Tha

[2020-02-07 11:26] EmmaINSA commented on #292
The same thing happens to me with 久しい when I manually refresh the app on the main screen. I haven't tried anything like uninstalling or logging out though.

[2020-02-07 11:47] turtlemaster19 commented on #292
Solved by #269

[2020-02-07 19:04] turtlemaster19 commented on #292
@davidsansome It would be great if we could release to the App Store, so people don't keep being affected by this issue.

[2020-02-07 19:29] turtlemaster19 commented on #26
@davidsansome Isn't this solved by 4fc8bf8ab7be3750833c1c5a093e8308d2a800f3?
Without the queued updates section, there's no point now!

[2020-02-07 22:54] mzsanford commented on #284
Looking into this now along wit the font keyboard shortcuts from #278

[2020-02-08 06:56] Flemca opened #296 "Feature Request: Show Review Upload Progress again"
I miss the option that one could see how many reviews were already uploaded and  thus synchronized with the account. After the last Update the info box on the main screen is gone.
Could you return this feature? That would be awesome!

[2020-02-08 13:21] turtlemaster19 commented on #296
See #26 for reasoning

[2020-02-08 18:44] dysnomian commented on #27
Hooray! Thank you for implementing this, @turtlemaster19!

[2020-02-09 00:59] kureiton opened #297 "iOS Search bar not working"
Since updating to the latest version, search  results are not appearing for Kanji or vocabulary anymore, nearly all the results are radicals.
![57AC8E14-6789-431A-B346-CF3E41B5976D](https://user-images.githubusercontent.com/60831231/74094326-c7b94300-4b22-11ea-90a8-ff9549a13e52.png)

[2020-02-09 01:01] turtlemaster19 commented on #297
I think this is a dupe of #272

[2020-02-09 01:08] turtlemaster19 commented on #177
@davidsansome Probably #235

[2020-02-09 01:27] turtlemaster19 commented on #189
@davidsansome Can you close some of the duplicates? We can keep the main issues open, but having all the dupes open makes it harder to keep track of the real issues.

[2020-02-09 03:56] kureiton commented on #297
Ah, sorry about that.

According to the App Store. I have the latest version. Is there a way to download the latest master without a jail broken iPhone?

Sorry, I’m not very good with technology.

[2020-02-09 12:48] turtlemaster19 commented on #297
@kureiton You don't need a jailbreak, or even a Mac. Simply click on the TestFlight link in the README. It's also possible to build from source if you have a Mac, but that's more complicated, and only lasts seven days.

[2020-02-09 14:01] kureiton commented on #297
Fantastic! Got it up and running, thank you so much for you help!

Tsurukame is great!

[2020-02-09 14:01] turtlemaster19 commented on #297
@kureiton Please close this issue.

[2020-02-09 14:03] #297 closed

[2020-02-09 14:04] kureiton commented on #297
Sorry!

[2020-02-10 13:36] turtlemaster19 commented on #235
See #277

[2020-02-10 13:36] turtlemaster19 commented on #225
See #277

[2020-02-10 17:54] turtlemaster19 commented on #100
@mzsanford Do you think that this issue is related to your work in PR #295?

[2020-02-13 19:19] zabulhab opened #298 "Autoreveal answers not working"
Hi, first of all thanks so much for making this app.

I downloaded it a few weeks ago and I love having the next question automatically appear when I get the current one correct, so it saves me an extra tap on every question. But I noticed today that this isn't working, making me suspect it was the most recent update.

I've made sure to have the setting on, but I also tried toggling it on and off,